﻿@model _5FootWay.Models.CheckInCompleteModel

@{
    ViewBag.Title = @Resources.CheckInCompleteTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.CheckInCompleteTitle</h2>
            </div>
            <div class="row">
         @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader) 
      
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box">
        @using (Ajax.BeginForm("CheckInComplete", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { id= "formCheckInComplete", role = "form" }
        )
    )
        {
            <div class="box-body text-white" style="padding-top:8%">
                <div class="col-sm-12">
                    <label class="text-white form-label">@Resources.CheckInCompleteMessage1@Html.DisplayFor(CM => CM.checkInData.hotelName)</label>
                </div>
                <div class="col-sm-12">
                    <label class="text-white form-label">@Resources.CheckInCompleteMessage2</label>
                </div>
                <div class="col-sm-12">
                    <label class="text-white form-label">@Resources.CheckInCompleteMessage3</label>
                </div>
                <div class="col-sm-12">
                    <label class="text-white form-label">@Resources.CheckInCompleteMessage4</label>
                </div>
            </div>

            <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4" style="padding-top:5%">
                    <div class="form-group">
                        <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.backToHome">
                            <div class="border-content">@Resources.BackToHome</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section jsScripts{
    function returnToHome(){
        $("#btnNext").click();
    }
}

@section jsOnLoad {
    window.setTimeout(function() {
        returnToHome();
    }, @Model.pageTimeout);
}