﻿@model _5FootWay.Models.PersonalParticularModel

@{
    ViewBag.Title = @Resources.PersonalParticularTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section ReferenceFile{
    <script src="~/Scripts/OtherParticular2.js"></script>
    <link href="~/Content/NewUI.css" rel="stylesheet">
}

@section subHeader{
<div class="col-sm-12">
    <div style=" padding-left:20px; padding-right:20px">
    <div class="section-header-container">
        <div class="row">
            <h2 class="section-header">@Resources.PersonalParticularTitle @Model.checkInData.title</h2>
        </div>
        <div class="row">
         @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
           
        </div>
    </div>
</div>
</div>
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section content{
    <div id="formItem" class="box" style="height:510px">
        @using (Ajax.BeginForm("PersonalParticular", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body left middle" style="margin-top:10px;padding-right:30px">
                <div class="col-sm-12">
                    @*<div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                           <div class="text-grey center middle" style="font-size: 30px">@Resources.OtherParticularTips</div>
                                            </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-sm-6 btn-group my-inset-style" data-toggle="buttons">
                            <label class="btn my-btn my-radio-button cust-btn-tab" style="width: 50%; font-size: 16pt;padding-top:23px" onclick="ShowPersonalDetail()">
                                <input type="radio" name="tabHeader" />@Resources.PassportDetails
                            </label>
                            <label class="btn my-btn my-radio-button cust-btn-tab active" style="width:50%; font-size:16pt;padding-top:23px" onclick="ShowOtherParticular()">
                                <input type="radio" name="tabHeader" />@Resources.OtherParticular
                            </label>
                        </div>
                    </div>
                    <div class="inset-container no-margin">
                        <div id="passportDetail" class="hide" style="padding-top:40px;padding-bottom:36px">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="@Model.passportDetail.guestName" class="text-white form-label3">@Resources.Name</label>
                                        @Html.EditorFor(CM => CM.passportDetail.guestName, new { htmlAttributes = new { @Class = "form-control text-black", Disabled = "" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="@Model.passportDetail.gender" class="text-white form-label3">@Resources.Gender</label>
                                        @Html.EditorFor(CM => CM.passportDetail.gender, new { htmlAttributes = new { @Class = "form-control text-black", Disabled = "" } })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="@Model.passportDetail.passportNumber" class="text-white form-label3">@Resources.PassportNumber</label>
                                        @Html.EditorFor(CM => CM.passportDetail.passportNumber, new { htmlAttributes = new { @Class = "form-control text-black", Disabled = "" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="@Model.passportDetail.dob" class="text-white form-label3">@Resources.DOB</label>
                                        @Html.EditorFor(CM => CM.passportDetail.dob, new { htmlAttributes = new { @Class = "form-control text-black", Disabled = "" } })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="@Model.passportDetail.nationality" class="text-white form-label3">@Resources.Nationality</label>
                                        @Html.EditorFor(CM => CM.passportDetail.nationality, new { htmlAttributes = new { @Class = "form-control text-black", Disabled = "" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="@Model.passportDetail.expiryDate" class="text-white form-label3">@Resources.ExpiryDate</label>
                                        @Html.EditorFor(CM => CM.passportDetail.expiryDate, new { htmlAttributes = new { @Class = "form-control text-black", Disabled = "" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="otherPaticular">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="@Model.otherParticular.email" class=" text-white form-label3">@Resources.EmailAddress (*)</label>
                                        @if (Model.checkInData != null && Model.checkInData.haveGuest == false)
                                        { 
                                            <label for="email-message" class=" text-white form-label3" style="font-size:14px;color:red;">@Resources.EmailAddressMsg</label>
                                        }
                                        @Html.EditorFor(CM => CM.otherParticular.email, new { htmlAttributes = new { @Class = "qwerty-mail form-control text-black text-box-color" } })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-otherParticular">
                                    <div class="form-group">
                                        <label for="@Model.otherParticular.occupation" class="text-white form-label3">@Resources.Occupation (*)</label>
                                        @*@Html.DropDownListFor(CM => CM.otherParticular.occupation, new SelectList(Model.occupationList, "Value", "Text"), new { @Class = "form-control text-black text-box-color", @style = "width:100%" })*@
                                        @Html.EditorFor(CM => CM.otherParticular.occupation, new { htmlAttributes = new { @Class = "qwerty form-control text-black text-box-color" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-otherParticular">
                                    <div class="form-group">
                                        <label for="@Model.otherParticular.prevDestination" class="text-white form-label3">@Resources.PrevDestination (*)</label>
                                        @Html.EditorFor(CM => CM.otherParticular.prevDestination, new { htmlAttributes = new { @Class = "qwerty form-control text-black text-box-color" } })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-otherParticular">
                                    <div class="form-group">
                                        <label for="@Model.otherParticular.nextDestination" class="text-white form-label3">@Resources.NextDestination (*)</label>
                                        @Html.EditorFor(CM => CM.otherParticular.nextDestination, new { htmlAttributes = new { @Class = "qwerty form-control text-black text-box-color" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div id="otherPaticular">
                            <div class="row">
                                <div class=" col-sm-8">
                                    <div class="row">
                                        <div class=" col-sm-6">
                                            <div class="form-group">
                                                <label for="@Model.otherParticular.email" class=" text-white form-label3">@Resources.EmailAddress (*)</label>
                                                <label for="@Model.otherParticular.email" class=" text-white form-label3" style="font-size:8pt;color:red">@Resources.EmailAddressMsg</label>
                                                @Html.EditorFor(CM => CM.otherParticular.email, new { htmlAttributes = new { @Class = "qwerty form-control text-black text-box-color" } })
                                            </div>
                                        </div>
                                        <div class=" col-sm-6">
                                            <div class="form-group">
                                                <label for="@Model.otherParticular.contactNumber" class="text-white form-label3">@Resources.ContactNumber (*)</label>
                                                @Html.EditorFor(CM => CM.otherParticular.contactNumber, new { htmlAttributes = new { @Class = "numericWithBracket form-control text-black text-box-color" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=" col-sm-12">
                                            <div class="form-group">
                                                <label for="@Model.otherParticular.address1" class="text-white form-label3">@Resources.Address1 (*)</label>
                                                @Html.EditorFor(CM => CM.otherParticular.address1, new { htmlAttributes = new { @class = "qwerty form-control text-black text-box-color", maxlength = 100 } })
                                            </div>

                                            <div class="row">
                                                <div class=" col-sm-8">
                                                    <div class="form-group">
                                                        <label for="@Model.otherParticular.address2" class="text-white form-label3">@Resources.Address2</label>
                                                        @Html.EditorFor(CM => CM.otherParticular.address2, new { htmlAttributes = new { @class = "qwerty form-control text-black text-box-color", maxlength = 50 } })
                                                    </div>
                                                </div>
                                                <div class=" col-sm-4">
                                                    <div class="form-group">
                                                        <label for="@Model.otherParticular.postalCode" class="text-white form-label3">@Resources.PostalCode (*)</label>
                                                        @Html.EditorFor(CM => CM.otherParticular.postalCode, new { htmlAttributes = new { @class = "numeric form-control text-black text-box-color", maxlength = 10 } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-4">
                                    <div class="form-group">
                                        <label for="@Model.otherParticular.nextDestination" class="text-white form-label3">@Resources.NextDestination (*)</label>
                                        @Html.EditorFor(CM => CM.otherParticular.nextDestination, new { htmlAttributes = new { @Class = "qwerty form-control text-black text-box-color" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="@Model.otherParticular.company" class="text-white form-label3">@Resources.Company (*)</label>
                                        @Html.EditorFor(CM => CM.otherParticular.company, new { htmlAttributes = new { @Class = "qwerty form-control text-black text-box-color" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="@Model.otherParticular.occupation" class="text-white form-label3">@Resources.Occupation (*)</label>
                                        @Html.EditorFor(CM => CM.otherParticular.occupation, new { htmlAttributes = new { @Class = "qwerty form-control text-black text-box-color" } })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

        <div class="box-footer">
            <div class="col-sm-6" style="padding-left:350px;">
                <div class="form-group">
                    <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" onclick="event.preventDefault(); CancelConfirmation();">
                        <div class="border-content">@Resources.Cancel</div>
                    </button>
                </div>
            </div>
            <div class="col-sm-6" style="padding-right:350px;">
                <div class=" form-group">
                    <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" onclick="return checkData()" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                        <div class="border-content">@Resources.Next</div>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
}

@section jsOnLoad{
    @if (Model.SkipOtherParticular)
    {
        @: $(".col-otherParticular").hide();
    }
    else
    {
        @: $(".col-otherParticular").show();
    }
    popOutEmailKeyboard();
}

@section jsScripts{

    function popOutEmailKeyboard()
    {
         $("#otherParticular_email").focus();
    }

    function checkData() {
        var skipOtherParticular = @Model.SkipOtherParticular.ToString().ToLower();
        var emailValid = validateEmail($("#otherParticular_email").val());
        var phoneValid = true; // validatePhone($("#otherParticular_contactNumber").val());
        var string = "";
        var title = "";
        var message = "";


        if(!validateOtherParticular(skipOtherParticular)){
            title = '@Resources.InvalidOtherParticularTitle';
            message = '@Resources.InvalidOtherParticularMessage';

            message = message.replace(/&lt;/g, '<');
            message = message.replace(/&gt;/g, '>');

            bootbox.dialog({
                message: "<div class='col-sm-12'> " +
                         "<div class='row'><h4>" + message + "</h4></div>" +
                         "</div>",
                title: title,
                buttons: {
                    ok: {
                        label: "@Resources.OK",
                        className: "btn-success dialog-btn",
                        callback: function () {
                        }
                        }
                        }
                        });

             return false;
        }
        else
        {

            if (!emailValid && !phoneValid) {
                title = '@Resources.InvalidEmailAndPhoneTitle';
                message = '@Resources.InvalidEmailAndPhoneMessage';
                }else if (!emailValid){
                title = '@Resources.InvalidEmailTitle';
                message = '@Resources.InvalidEmailMessage';
                }else if (!phoneValid){
                title = '@Resources.InvalidPhoneTitle';
                message = '@Resources.InvalidPhoneMessage';
            }

            if(!emailValid || !phoneValid )
            {
                message = message.replace(/&lt;/g, '<');
                message = message.replace(/&gt;/g, '>');

                bootbox.dialog({
                    message: "<div class='col-sm-12'>" +
                        "<div class='row'><h4>" + message + "</h4></div>" +
                        "</div>",
                    title: title,
                    buttons: {
                        ok: {
                            label: "@Resources.OK",
                            className: "btn-success dialog-btn",
                            callback: function () {
                            }
                        }
                    }
                });
            }

            return emailValid && phoneValid;
        }
    }


}


