﻿@model _5FootWay.Models.RateExperienceModel

@{
    ViewBag.Title = @Resources.RateExperienceTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section ReferenceFile{
    <style>
        .rate_opt_box {
            padding-top: 70px;
            padding-left: 10px;
            padding-right: 0px;
        }

        a.link_rate_opt {
            float: left;
            padding-left: 15px;
            padding-right: 15px;
        }

        .rate_opt {
            background-image: url("/images/TempImage/rate_face_options_transparent_2.png");
            background-position: -50px -65px;
            background-color: #fff;
            width: 215px;
            height: 213px;
            border-radius: 50%;
        }

        .rate_opt_2 {
            background-position: -286px -65px;
        }

        .rate_opt_3 {
            background-position: -521px -65px;
        }

        .rate_opt_4 {
            background-position: -757px -65px;
        }

        .rate_opt_5 {
            background-position: -991px -65px;
        }
    </style>
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
    <div class="col-sm-12">
        <div style="padding-left:20px; padding-right:20px">
            <div class="section-header-container">
                <div class="row">
                    <h2 class="section-header">@Resources.RateExperienceTitle</h2>
                </div>
                <div class="row">
                   @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
                </div>
            </div>
        </div>
    </div>
}

@section content{
    <div id="formItem" class="box">
        @using (Ajax.BeginForm("RateExperience", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form", name = "formRateExperience" }
        )
    )
        {
            <div class="box-body text-white">
                <div class="col-sm-12 rate_opt_box">
                    <a name="link_rate_opt_1" class="link_rate_opt" data-rate-opt="1">
                        <div class="rate_opt rate_opt_1">
                        </div>
                    </a>
                    <a name="link_rate_opt_2" class="link_rate_opt" data-rate-opt="2">
                        <div class="rate_opt rate_opt_2">
                        </div>
                    </a>
                    <a name="link_rate_opt_3" class="link_rate_opt" data-rate-opt="3">
                        <div class="rate_opt rate_opt_3">
                        </div>
                    </a>
                    <a name="link_rate_opt_4" class="link_rate_opt" data-rate-opt="4">
                        <div class="rate_opt rate_opt_4">
                        </div>
                    </a>
                    <a name="link_rate_opt_5" class="link_rate_opt" data-rate-opt="5">
                        <div class="rate_opt rate_opt_5">
                        </div>
                    </a>
                </div>
                <input type="hidden" name="selectedRate" value="" />
            </div>
        }
    </div>
}

@section jsScripts{
    function regRateOptEvents(suppress) {
        $("a.link_rate_opt").click(function(event) {            
            event.preventDefault();
            var link = $(this);
            if (!suppress) {
                rateExperienceSelected(link.data('rate-opt'));
            }
        });
    }

    function rateExperienceSelected(selRate) {
        if (selRate) {
            $("input[name='selectedRate']").val(selRate);
            $("form[name='formRateExperience']").submit();            
        } else {
            bootbox.dialog({
                message: "<div class='col-sm-12'><div class='row'><h4>@Resources.RateExperienceNotSelectedMessage</h4></div></div>",
                title: '@Resources.AlertMessageTitle',
                buttons: {
                    ok: { 
                        label: "@Resources.OK",
                        className: "btn-success dialog-btn",
                        callback: function () { }
                        }
                }
            });
        }
    }
}