﻿@model _5FootWay.Models.ScanChopModel

@{
    ViewBag.Title = @Resources.ScanImmigrationChopTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section subHeader{

<div class="col-sm-12">
    <div style="padding-left:34px; padding-right:34px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.ScanImmigrationChopTitle @Model.checkInData.title</h2>
            </div>
            <div class="row">
               @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section content{
    <div id="formItem" class="box" style="height:510px">
    @using (Ajax.BeginForm("ScanChop", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
    {
        <div class="box-body" style="margin-left:100px">
            <div id="divScanChopRule" class="col-sm-8">
                <ul class="left middle text-white" style="margin-top:80px;margin-bottom:20px;margin-left:-90px">
                    <li class="padding-12">
                        <label class="left top form-label">@Resources.ScanImmigrationRule1</label>
                    </li>
                    <li class="padding-12">
                        <label class="left top form-label">@Resources.ScanImmigrationRule2</label>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1">
                        <img class="img-responsive img-imm-stamp" src="~/images/TempImage/immigration_stamp.jpeg" style="" />
                    </div>
                </div>
            </div>
            <div id="divScanChopDone" class="col-sm-8 hide">
                <ul class="left middle text-white" style="margin-top:80px;margin-bottom:20px;margin-left:-90px">
                    <li class="padding-12">
                        <label class="left top form-label">@Resources.ScanDone</label>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4" style="margin-top:30px;margin-bottom:30px">
                <img class="img-responsive imageBorder" src="~/images/TempImage/Scan Chop.gif" style="margin-left:-30px;" />
            </div>
        </div>
    <div class="box-footer" style="margin-top: 5px;">
        <div class="col-sm-offset-3 col-sm-3">
            <div class="form-group">
                <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" onclick="event.preventDefault(); CancelConfirmation();">
                    <div class="border-content">@Resources.Cancel</div>
                </button>
            </div>
        </div>
        <div id="divscan" class="col-sm-3">
            <div class="form-group">
               @* <button id="btnScanChop" type="button" class="btn my-btn-white large-button-style center middle text-black">
                    <div class="border border-cyan">
                    <div class="border-content">@Resources.TapToScanChop</div>
                    </div>
                </button>*@
            </div>
        </div>
        <div id="divbtnNext" class="col-sm-3 hide">
            <div class="form-group">
                <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                    <div class="border-content">@Resources.Next</div>
                </button>
            </div>
        </div>
    </div>
    }
</div>
}

@section jsScripts{
    function showChop(){
        $('#btnNext').removeClass('hide-only');
        SwitchClass($("#divscan"), '', 'hide');
        SwitchClass($("#divbtnNext"), 'hide', ''); 
        SwitchClass($("#divScanChopRule"), '', 'hide');
        SwitchClass($("#divScanChopDone"), 'hide', '');
    }

    function hideChop(){
        $('#btnNext').addClass('hide-only');
    }

    function showDocumentNoDocked(){
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.ScanChopNoDocument</h4></div></div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
            ok: {
            label: "@Resources.OK",
            className: "btn-success dialog-btn",
            callback: function () {
            }
            }
            }
        });
    }

    function showScanFailed(){
        bootbox.dialog({
            message: "<div class='col-sm-12'>" +
            "<div class='row'><h4>@Resources.ScanChopInvalid</h4></div>" +
            "</div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                    }
                }
            }
        });
    }
}