﻿@model _5FootWay.Models.VerifyDetailModel

@{
    ViewBag.Title = @Resources.VerifyDetailTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.VerifyDetailTitle @Model.checkInData.title</h2>
            </div>
            <div class="row">
                 @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section content{
    <div id="formItem" class="box" style="height: 510px;">
        @using (Ajax.BeginForm("VerifyDetail", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body left middle" style="">
                <div class="col-sm-12">
                    <div class="inset-container no-margin my-scroll-bar" style="overflow-y: auto; overflow-x: hidden; height: 350px">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="text-white form-label3">@Resources.Name</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.passportDetail.guestName)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="text-white form-label3">@Resources.Nationality</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.passportDetail.nationality)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="text-white form-label3">@Resources.DOB</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.passportDetail.dob)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="text-white form-label3">@Resources.EmailAddress</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.otherParticular.email)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6 col-otherParticular">
                                        <label class="text-white form-label3">@Resources.PrevDestination</label>
                                    </div>
                                    <div class="col-sm-6 col-otherParticular">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.otherParticular.prevDestination)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="text-white form-label3">@Resources.PassportNumber</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.passportDetail.passportNumber)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="text-white form-label3">@Resources.ExpiryDate</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.passportDetail.expiryDate)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="text-white form-label3">@Resources.Gender</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.passportDetail.gender)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6 col-otherParticular">
                                        <label class="text-white form-label3">@Resources.Occupation</label>
                                    </div>
                                    <div class="col-sm-6 col-otherParticular">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.otherParticular.occupation)</label>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-6 col-otherParticular">
                                        <label class="text-white form-label3">@Resources.NextDestination</label>
                                    </div>
                                    <div class="col-sm-6 col-otherParticular">
                                        <label class="text-white wrap-text form-label3">@Html.DisplayFor(CM => CM.otherParticular.nextDestination)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="box-footer" style="">
        <div class="col-sm-6" style="padding-left:350px">
            <div class="form-group">
                <button id="btnBack" class="btn my-btn-grey large-button-style center middle text-white" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                    <div class="border-content">@Resources.Back</div>
                </button>
            </div>
        </div>
        <div class="col-sm-6" style="padding-right:350px">
            <div class=" form-group">
                <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                    <div class="border-content">@Resources.Next</div>
                </button>
            </div>
        </div>
    </div>
        }
    </div>
}

@section jsOnLoad{
    @if (Model.SkipOtherParticular)
    {
        @: $(".col-otherParticular").hide();
    }
    else
    {
        @: $(".col-otherParticular").show();
    }
}