﻿@model _5FootWay.Models.ReturnCardModel

@{
    ViewBag.Title = @Resources.ReturnCardTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckOutProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.ReturnCardTitle</h2>
            </div>
            <div class="row">
                @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height:510px;">
        @using (Ajax.BeginForm("ReturnCard", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body" style="padding-top:30px; margin-right: 9.20px;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div id="ReturnCardTip" class="text-white" style="font-size: 20pt">@Resources.ReturnCardTip</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        @if (Model.checkInData.roomBedList.Count > 0)
                        {
                            <table class="table my-scroll-bar" style="overflow-y:auto;overflow-x:hidden;">
                                <thead>
                                    <tr class="grey-container div-header">
                                        <th style="text-align:left;background-color:black">
                                            <label class="form-label3 wrap-text" style="">@Resources.RoomBedName</label>
                                        </th>
                                        <th style="text-align:left;background-color:black">
                                            <label class="form-label3 wrap-text" style="">@Resources.Status</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.checkInData.roomBedList.Count; i++)
                                    {
                                        <tr class="grey-container">
                                            <td style="text-align:left ">
                                                <label class="form-label3">@Html.DisplayFor(CM => CM.checkInData.roomBedList[i].roomBedName)</label>
                                            </td>
                                            <td style="text-align:left ">
                                                <label class="form-label3" id="@Model.cardList[i].cardUID">@Html.DisplayFor(CM => CM.cardList[i].cardStatus)</label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="center middle" style="font-size: 30px; padding-top: 250px; padding-bottom: 215px">
                                <label class="form-label3">@Resources.NoRoomBed</label>
                            </div>
                        }
                    </div>
                </div>

                <div class="box-footer" style="margin-top:40px">
                    <div class="col-sm-offset-3 col-sm-3">
                        <div class="form-group">
                            <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" name="command" onclick="event.preventDefault(); CancelReturnCardConfirmation();" value="@_5FootWay.Controllers.CheckOutController.CheckOutCommand.back">
                                <div class="border-content">@Resources.Cancel</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black hide-only" name="command" value="@_5FootWay.Controllers.CheckOutController.CheckOutCommand.next">
                                <div class="border-content">@Resources.Next</div>
                            </button>
                        </div>
                    </div>
                </div>
            
            <div id="hidden">
                @Html.HiddenFor(CM => CM.ableToReturnSecurityDeposit)
                @Html.HiddenFor(CM => CM.checkInData.paidSecurityDeposit)
            </div>
        }
    </div>
}

@section jsScripts{
    $('table').scrollTableBody({ tableHeight: 150 });

    function showReturnCard(){
    if($('#btnNext').hasClass('hide-only')){
    $('#btnNext').removeClass('hide-only');
    }
    }

    function hideReturnCard(){
    if(!$('#btnNext').hasClass('hide-only')){
    $('#btnNext').addClass('hide-only');
    }
    }

    function SetReturnSecurityDepositData(ableToPay, amountToPay)
    {
    $('#ableToReturnSecurityDeposit').val(ableToPay);
    $('#checkInData_paidSecurityDeposit').val(amountToPay);
    $('form#form0').submit();
    }

    function updateReturnCardStatus(cardUID, step){
    var target = $("#" + cardUID);
    if(step === 1){
    target.text('@Resources.ReturnCardTip1');
    } else if(step === 2){
    target.text('@Resources.ReturnCardTip2');
    } else if(step === 3){
    target.text('@Resources.ReturnCardTip3');
    } else if(step === 4){
    target.text('@Resources.ReturnCardTip4');
    }
    }

    function InvalidReturnCard(){
    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>@Resources.InvalidCard</h4></div></div>",
    title: '@Resources.AlertMessageTitle',
    buttons: {
    ok: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () {
    }
    }
    }
    });
    }

    function ShowReturnCardAlertMessage(totalRemainingCard, current, max) {
    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>@Resources.ReturnCardAlertMessage</h4></div><br /><div class='row'>@Resources.CurrentTryAttempt " + current + "</div><div class='row'>@Resources.MaximumTryAttempt " + max + "</div></div>",
    title: "@Resources.AlertMessageTitle",
    closeButton: false,
    buttons: {
    retry: {
    label: "@Resources.Retry",
    className: "btn-success dialog-btn",
    callback: function () {
    if (typeof(window.external.StartReturnCard) !== 'undefined') {
    window.external.StartReturnCard(totalRemainingCard, false);
    }
    }
    },
    cancel: {
    label: "@Resources.Cancel",
    className: "btn-danger dialog-btn",
    callback: function () {
    if (typeof (window.external.AllowNavigation) !== 'undefined') {
    window.external.AllowNavigation(true);
    }
    var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
    if(controller === "CheckIn"
    || controller === "CheckOut")
    {
    location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
    } else {
    location.href = '@Url.Action("Index", "Home")';
    }
    }
    }
    }
    });
    }

    function ShowReturnCardErrorMessage() {
    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>@Resources.ReturnCardErrorMessage</h4></div></div>",
    title: "@Resources.ErrorMessageTitle",
    closeButton: false,
    buttons: {
    ok: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () {
    if (typeof (window.external.AllowNavigation) !== 'undefined') {
    window.external.AllowNavigation(true);
    }
    var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
    if(controller === "CheckIn"
    || controller === "CheckOut")
    {
    location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
    } else {
    location.href = '@Url.Action("Index", "Home")';
    }
    }
    }
    }
    });
    }

    function CancelReturnCardConfirmation() {
    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>@Resources.CancelConfirmationMessage</h4></div></div>",
    title: "@Resources.CancelConfirmationTitle",
    buttons: {
    retry: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () {
    Cancelled();

    if (typeof (window.external.AllowNavigation) !== 'undefined') {
    window.external.AllowNavigation(true);
    }

    $('form#form0').submit();
    }
    },
    cancel: {
    label: "@Resources.Cancel",
    className: "btn-danger dialog-btn",
    callback: function () {
    }
    }
    }
    });
    }

    function Cancelled(){
    if (typeof (window.external.CancelReturnCard) !== 'undefined') {
    window.external.CancelReturnCard(true);
    }
    }
}
