﻿@model _5FootWay.Models.ReturnDepositModel

@{
    ViewBag.Title = @Resources.ReturnDepositTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckOutProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.ReturnDepositTitle</h2>
            </div>
            <div class="row">
                @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height:510px">
        @using (Ajax.BeginForm("ReturnDeposit", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body" style="">
                <div class="col-sm-9" style="padding-top:20px; padding-bottom:10px">
                    <div class="form-group">
                        <div id="ReturnDepositTip" class="text-white" style="font-size: 30px">-</div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-7 middle">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="@Model.amountToReturn" class="text-white form-label">@Resources.AmountToReturn</label>
                                <div id="amountToReturn" class="text-white" style="padding: 20px; font-size: 50px">
                                    @Html.DisplayFor(CM => CM.amountToReturn)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="@Model.amountReturned" class="text-white form-label">@Resources.AmountReturned</label>
                                <div id="amountReturned" class="text-red" style="padding: 20px; font-size: 50px">
                                    @Html.DisplayFor(CM => CM.amountReturned)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-top:-30px;">
                    <img class="img-responsive imageBorder" src="~/images/TempImage/Return Deposit.gif" style="margin-left:-10px" />
                </div>
            </div>

            <div class="box-footer" style="margin-top:-20px">
                @*<div class="col-sm-3">
                    <div class="form-group">
                        <button id="btnCancel" class="btn my-btn center middle text-cyan" onclick="event.preventDefault(); CancelConfirmation();">@Resources.Cancel</button>
                    </div>
                </div>*@
                <div class="col-sm-offset-3 col-sm-3">
                    <div class="form-group">
                        <button id="btnNext" type="submit" class="btn my-btn-white large-button-style center middle text-black hide-only" name="command" value="@_5FootWay.Controllers.CheckOutController.CheckOutCommand.next">
                            <div class="border-content">@Resources.Next</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section jsScripts{
    function showReturnDeposit(){
        $('#btnNext').removeClass('hide-only');
    }

    function showReturnDepositTip(step){
        if(step === 7){
            $("#ReturnDepositTip").text("@Resources.ReturnDepositWithdrawing");
        }else if(step === 8){
            $("#ReturnDepositTip").text("@Resources.ReturnDepositCollect");
        }else if(step === 9){
            $("#ReturnDepositTip").text("@Resources.ReturnDepositWithdraw");
        }else if(step === 10){
            $("#amountReturned").removeClass("text-red");
            $("#amountReturned").addClass("text-green");
            $("#ReturnDepositTip").text("@Resources.ReturnDepositComplete");
        }else if(step === -1){
            $("#ReturnDepositTip").text("@Resources.ReturnDepositError");
        }
    }

    function Cancelled(){
    
    }
}