﻿@model _5FootWay.Models.ScanVisaModel

@{
    ViewBag.Title = @Resources.ScanVisaTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.ScanVisaTitle @Model.checkInData.title</h2>
            </div>
            <div class="row">
                @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section content{
    <div id="formItem" class="box" style="height:510px;">
    @using (Ajax.BeginForm("ScanVisa", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
    {
        <div class="box-body" style="">
           
            <div class="col-sm-8">
                <ul class="left middle text-white" style="margin-top:80px;margin-bottom:70px;">
                    <li class="padding-5">
                        <label class="left top form-label">@Resources.ScanVisaRule1</label>
                    </li>
                    <li class="padding-5">
                        <label class="left top form-label">@Resources.ScanVisaRule2</label>
                    </li>
                    <li class="padding-5">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="left top form-label" style="margin-top:-20px">@Resources.VisaNumber</label>
                            </div>
                            <div class="col-sm-7" style="margin-left:-24px; margin-top:-20px">
                                @Html.EditorFor(CM => CM.visaNumber, new { htmlAttributes = new { @Class = "form-control qwerty text-white", @Style = "", onchange = "checkTextBox()" } })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4" style="margin-top:30px;margin-bottom:30px">
                <img class="img-responsive imageBorder" src="~/images/TempImage/Scan Visa.gif" style="margin-left:-10px;" />
            </div>
        </div>


    <div class="box-footer" style="margin-top:-20px">
        <div class="col-sm-offset-3 col-sm-3">
            <div class="form-group">
                <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" onclick="event.preventDefault(); CancelConfirmation();">
                    <div class="border-content">@Resources.Cancel</div>
                </button>
            </div>
        </div>
        <div id="divScanbtn" class="col-sm-3">
           @* <button id="btnScanVisa" type="button" class="btn my-btn-white large-button-style center middle text-black">
                <div class="border border-cyan">
                <div class="border-content">@Resources.TapToScanVisa</div>
                </div>
            </button>*@
        </div>
        <div id="divNextbtn" class="col-sm-3 hide">
            <div class=" form-group">
                <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                    <div class="border-content">@Resources.Next</div>
                </button>
            </div>
        </div>
    </div>

    }
</div>

}

@section jsScripts{

    function checkTextBox()
    {
        if($('#visaNumber').text.length > 0){
            SwitchClass($("#divScanbtn"), '', 'hide');
            SwitchClass($("#divNextbtn"), 'hide', ''); 
        }else{
            SwitchClass($("#divScanbtn"), 'hide', '');
            SwitchClass($("#divNextbtn"), '', 'hide');
        }
    }

    function SetVisaNumber(visaNumber)
    {
        $('#visaNumber').val(visaNumber);

    }

    function CheckVisaNumber(){
        if($('#visaNumber').val())
        {
            return true;
        }
        else
        {
            bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.VisaNumberEmpty</h4></div></div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
            ok: {
            label: "@Resources.OK",
            className: "btn-success dialog-btn",
            callback: function () {
            }
            }
            }
            });

            return false;
        }
    }

    function showDocumentNoDocked(){
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.ScanVisaNoDocument</h4></div></div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
            ok: {
            label: "@Resources.OK",
            className: "btn-success dialog-btn",
            callback: function () {
            }
            }
            }
        });
    }

    function showScanFailed(){
        bootbox.dialog({
            message: "<div class='col-sm-12'>" +
            "<div class='row'><h4>@Resources.ScanVisaInvalid</h4></div>" +
            "</div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                    }
                }
            }
        });
    }
}