﻿@model _5FootWay.Models.AddOnModel

@{
    ViewBag.Title = @Resources.AddOnTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:34px; padding-right:34px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.AddOnTitle</h2>
            </div>
            <div class="row">
              @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader) 
            
            </div>
        </div>
    </div>
</div>
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section content{
    <div id="formItem" class="box" style="height:510px">
    @using (Ajax.BeginForm("AddOn", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }
        )
    )
    {
        <div class="box-body">
            <div class="col-sm-12" style="padding-top: 20px">
                @if (Model.addOnList.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr class="grey-container div-header" style="border: solid 1px black;">
                                <th>
                                    <label class="form-label">@Resources.SerialNumber</label>
                                </th>
                                <th>
                                    <label class="form-label">@Resources.Description</label>
                                </th>
                                <th>
                                    <label class="form-label">@Resources.Quantity</label>
                                </th>
                                <th>
                                    <label class="form-label">@Resources.Price</label>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.addOnList.Count; i++)
                            {
                                <tr class="grey-container">
                                    <td class="left">
                                        <label class="form-label">@Html.DisplayFor(CM => CM.addOnList[i].serialNumber)</label>
                                    </td>
                                    <td class="left">
                                        <label class="form-label">@Html.DisplayFor(CM => CM.addOnList[i].description)</label>
                                    </td>
                                    <td class="right">
                                        @{
                                            Model.quantityList.Clear();

                                            for (int j = 1; j <= Model.addOnList[i].maximumQuantity; j++)
                                            {
                                                Model.quantityList.Add(new _5FootWay.Models.DefaultList() { Text = j.ToString(), Value = j.ToString() });
                                            }
                                        }
                                        @Html.DropDownListFor(CM => CM.addOnList[i].quantity, new SelectList(Model.quantityList, "Value", "Text", Model.addOnList[i].quantity), new { @Class = "text-grey div-content form-control no-border no-margin" })
                                    </td>
                                    <td class="right">
                                        <label class="form-label">@Html.DisplayFor(CM => CM.addOnList[i].price)</label>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="center middle" style="font-size: 30px; padding-top: 135px; padding-bottom: 100px">
                        <label class="form-label">@Resources.NoAddOn</label>
                    </div>
                }
            </div>
        </div>

        <div class="box-footer" style="margin-top:50px">
            <div class="col-sm-offset-3 col-sm-3">
                <div class="form-group">
                    <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                        <div class="border-content">@Resources.Back</div>
                    </button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                        <div class="border-content">@Resources.Next</div>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
}

@section jsScripts{
    $('table').scrollTableBody({ tableHeight: 250 });
}