﻿@model _5FootWay.Models.CapturePhotoModel

@{
    ViewBag.Title = @Resources.PhotoCaptureTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
    <div style="padding-left:23px; padding-right:23px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.PhotoCaptureTitle @Model.checkInData.title</h2>
            </div>
            <div class="row">
                  @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader) 

            </div>
        </div>
    </div>
}

@section content{
<div id="formItem" class="box" style="height: 510px">
    @using (Ajax.BeginForm("CapturePhoto", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { @role = "form" }
        )
    )
    {
        <div class="box-body" style="padding-left:23px;padding-right:35px;">
            <div class=" grey-container col-sm-12">
                <div class="row">
                    <div id="divStreaming" class="col-sm-12 center middle">
                        <div class="form-group" style="margin-left:60px">
                            <div class="col-sm-2">
                                <img class="" src="" style="margin-left:74px" />
                            </div>
                            <div id="vidStreamingContainer" class="image-box col-sm-offset-1 col-sm-5"></div>         
                            <div class="col-sm-2">
                                <img class="img-responsive imageBorder" src="~/images/TempImage/cap_glasses.jpg" style="margin-left:90px" />
                            </div>
                        </div>
                    </div>
                    <div id="divCapturedPhoto" class="col-sm-offset-4 col-sm-4 center middle hide">
                        <div class="form-group">
                            <div id="canvasContainer" class="image-box"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-11 center middle">
                       @* <div class="row text-white" style="margin-left:80px">
        <!-- Begin Betafaceapi.com Attribution Snippet -->
        <a title="Face Recognition by betafaceapi.com" href="http://betafaceapi.com/">Face Recognition by betafaceapi.com</a>
        <!-- End Betafaceapi.com Attribution Snippet -->
    </div>*@
                        <div class="row" style="margin-left:95px">
                            <label class=" form-label1" id="faceMatchStatus" style="font-size:20pt">@Resources.ProcessingPhoto</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="box-footer" style="">
        <div class="col-sm-offset-3 col-sm-3">
            <div class="form-group">
                <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" onclick="event.preventDefault(); CancelCapturePhotoConfirmation();">
                    <div class="border-content">@Resources.Cancel</div>
                </button>
            </div>
        </div>
        <div id="divCapture" class="col-sm-3 hide">
            <div class="form-group">
                <button type="button" class="btn my-btn-white large-button-style center middle text-black" onclick="take_snapshot()">
                    <div class="border-content">@Resources.TapToCapturePhoto</div>
                </button>
            </div>
        </div>
        <div id="divRecapture" class="col-sm-3 hide">
            <div class="form-group">
                <button type="button" class="btn my-btn-white large-button-style center middle text-black" id="btnCapturePhoto" onclick="recapture()">
                    <div class="border-content">@Resources.CapturePhotoRetry</div>
                </button>
            </div>
        </div>
        <div id="divNext" class="col-sm-3 hide">
            <div class="form-group">
                <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                    <div class="border-content">@Resources.Next</div>
                </button>
            </div>
        </div>
    </div>
    }
</div>

}

@section jsScripts{
    var dataURL;

    function ShowFaceRecognitionAlertMessage(current, max) {
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.FaceRecognitionAlertMessage</h4></div><br /><div class='row'>@Resources.CurrentTryAttempt " + current + "</div><div class='row'>@Resources.MaximumTryAttempt " + max + "</div></div>",
            title: "@Resources.AlertMessageTitle",
            closeButton: false,
            buttons: {
                retry: {
                    label: "@Resources.Retry",
                    className: "btn-success dialog-btn",
                    callback: function () {
                    }
                },
                cancel: {
                    label: "@Resources.Cancel",
                    className: "btn-danger dialog-btn",
                    callback: function () {
                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }

                        var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                        if(controller === "CheckIn"
                        || controller === "CheckOut")
                        {
                            location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                        } else {
                            location.href = '@Url.Action("Index", "Home")';
                        }
                    }
                }
            }
        });
    }

    function ShowFaceRecognitionInvalidMessage() {
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.CapturePhotoInvalid</h4></div></div>",
            title: "@Resources.AlertMessageTitle",
            closeButton: false,
            buttons: {
                retry: {
                    label: "@Resources.Retry",
                    className: "btn-success dialog-btn",
                    callback: function () {
                    }
                },
                cancel: {
                    label: "@Resources.Cancel",
                    className: "btn-danger dialog-btn",
                    callback: function () {
                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }

                        var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                            
                        if(controller === "CheckIn"
                            || controller === "CheckOut")
                        {
                            location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                        } else {
                            location.href = '@Url.Action("Index", "Home")';
                        }
                    }
                }
            }
        });
    }

    function ReadyToCapture(){
        $("#faceMatchStatus").text("@Resources.WaitForCapture");
        SwitchClass($("#divCapture"), 'hide', '');        
    }

    function ShowFaceRecognitionErrorMessage() {
        bootbox.dialog({
            message: "<div class='col-sm-12'>" +
                "<div class='row'><h4>@Resources.FaceRecognitionErrorMessage</h4></div>" +
                "</div>",
            title: "@Resources.ErrorMessageTitle",
            closeButton: false,
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }

                        var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                        if(controller === "CheckIn"
                        || controller === "CheckOut")
                        {
                            location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                        } else {
                            location.href = '@Url.Action("Index", "Home")';
                        }
                    }
                }
            }
        });
    }

    function resize(){
        var height = $("#webcam_movie_embed").height();
        var width = $("#webcam_movie_embed").width()
        $("#vidStreamingContainer").height(height);
        $("#vidStreamingContainer").width(width);
        $("#canvasContainer").height(height);
        $("#canvasContainer").width(width);
    }

    function ShowCapturePhoto(){
        Webcam.reset();

        SwitchClass($("#divCapture"), '', 'hide');
        SwitchClass($("#divRecapture"), '', 'hide');
        SwitchClass($("#divNext"), 'hide', '');
    }

    Webcam.set({    
    height: 290,
    witdh: 800,   
    dest_width: 800,
    dest_height: 600,
    force_flash: true,
    image_format: 'jpg',
    jpeg_quality: 90,
    flip_horiz: true,
    fps: 60
    });

    var status = 0;

    Webcam.on( 'load', function(){
        status = 1;
        window.setTimeout(checkCameraLived, 6000, null);
    });

    Webcam.on( 'live', function(){
        status = 2;
        resize();
    });

    Webcam.on( 'error', function(err) {
        status = -1;

        if (typeof(window.external.LogException) !== 'undefined') {
            window.external.LogException(err);
        }

        Webcam.reset();
        Webcam.attach( 'vidStreamingContainer' );
    } );

    Webcam.attach( 'vidStreamingContainer');

    function checkCameraLived(){
        if(status === 1 || status === -1){
            location.reload();
        }
    }

    function take_snapshot() {
        Webcam.snap( function(data_uri, canvas_data, context) {
            SwitchClass($("#faceMatchStatus"), "text-red text-green text-white", "text-orange");
            $("#faceMatchStatus").text("@Resources.ProcessingPhoto");

            @*copy image to my own canvas*@
            var video = $("#webcam_movie_embed");            
            var container = $("#canvasContainer");
            
            while (container[0].firstChild) {
                container[0].removeChild(container[0].firstChild);
            }

            var e_canvas = document.createElement('canvas');
            e_canvas.id = "imageCanvas";
            e_canvas.style.position = "absolute";
            container[0].appendChild(e_canvas);
            
            var canvas = this.__canvas = new fabric.Canvas('imageCanvas', {
                renderOnAddRemove: false,
                selection: false,
                hoverCursor: 'default',
                width: container.width(),
                height: container.height()
            });
    
            canvas.clear();
            canvas.renderAll();

            fabric.Image.fromURL(data_uri, function(img) {
                var scale = Math.min(canvas.width / img.width, canvas.height / img.height);
                var offsetX = 0; @*Math.max((canvas.width - img.width * scale) / 2.0, 0);*@
                var offsetY = 0; @*Math.max((canvas.height - img.height * scale) / 2.0, 0);*@
                img.scaleToWidth(canvas.width);
                img.scaleToHeight(canvas.height);
              
                img.left = offsetX;
                img.top = offsetY;
                img.evented = false;
                canvas.add(img);
                img.sendToBack();
                canvas.renderAll();
            });

            SwitchStreamingAndPhoto(false);
            dataURL = data_uri;

            if (typeof(window.external.DoneCapturePhoto) !== 'undefined') {
                window.external.DoneCapturePhoto(data_uri);
            }
        });
    }

    function recapture(){
        SwitchStreamingAndPhoto(true);
    }

    function SwitchStreamingAndPhoto(status){
        if(status){
            SwitchClass($("#divStreaming"), "hide", "");
            SwitchClass($("#divCapturedPhoto"), "", "hide");
            SwitchClass($("#divRecapture"), "", "hide");
            SwitchClass($("#divCapture"), "hide", "");
            $("#faceMatchStatus").text("@Resources.WaitForCapture");
            SwitchClass($("#faceMatchStatus"), "text-red text-green text-orange", "text-white");
        }
        else{
            SwitchClass($("#divStreaming"), "", "hide");
            SwitchClass($("#divCapturedPhoto"), "hide", "");
            SwitchClass($("#divRecapture"), "hide", "");
            SwitchClass($("#divCapture"), "", "hide");
        }
    }    
    
    function DrawPoint(faceData){
        var container = $("#canvasContainer");
    
        if (container[0].firstChild) {      
            container[0].removeChild(container[0].firstChild);
        }

        if(dataURL) {
            var e_canvas = document.createElement('canvas');
            e_canvas.id = "imageCanvas";
            e_canvas.style.position = "absolute";
            container[0].appendChild(e_canvas);

            var canvas = this.__canvas = new fabric.Canvas('imageCanvas', {
                renderOnAddRemove: false,
                selection: false,
                hoverCursor: 'default',                
                width: container.width(),
                height: container.height()
            });

            canvas.clear();
            canvas.renderAll();
            @*canvas.on("after:render", function() {
                canvas.calcOffset()
            });

            canvas.observe('mouse:over', function(e) {
                showImageTools(e.target);
            });

            canvas.observe('mouse:out', function(e) {
                $('#tooltipDialog').remove();
            });

            canvas.on('object:over', function(e) {
                observe.renderAll.bind(canvas);
            });*@

            fabric.Image.fromURL(dataURL, function(img) {
                var scaleX = canvas.width / img.width;
                var scaleY = canvas.height / img.height;
                var offsetX = 0; @*Math.max((canvas.width - img.width * scale) / 2.0, 0);*@
                var offsetY = 0; @*Math.max((canvas.height - img.height * scale) / 2.0, 0);*@
                img.scaleToWidth(canvas.width);
                img.scaleToHeight(canvas.height);
                
                img.left = offsetX;
                img.top = offsetY;
                img.evented = false;
                canvas.add(img);
                
                var face = JSON.parse(faceData);
               
                DrawFace(canvas, scaleX, scaleY, offsetX, offsetY, face);

                img.sendToBack();
                canvas.renderAll();
            });
        }
    }

    var consts = {
        BETAFACE_FEATURE_FIRST: 256,
        BETAFACE_FEATURE_LAST: 5632,
        BETAFACE_FEATURE_PRO_CHIN_EARCONN_L: 65536,
        BETAFACE_FEATURE_PRO_CHIN_P1_L: 131072,
        BETAFACE_FEATURE_PRO_CHIN_P2_L: 196608,
        BETAFACE_FEATURE_PRO_CHIN_P3_L: 262144,
        BETAFACE_FEATURE_PRO_CHIN_P4_L: 327680,
        BETAFACE_FEATURE_PRO_CHIN_P5_L: 393216,
        BETAFACE_FEATURE_PRO_CHIN_B: 458752,
        BETAFACE_FEATURE_PRO_CHIN_P5_R: 524288,
        BETAFACE_FEATURE_PRO_CHIN_P4_R: 589824,
        BETAFACE_FEATURE_PRO_CHIN_P3_R: 655360,
        BETAFACE_FEATURE_PRO_CHIN_P2_R: 720896,
        BETAFACE_FEATURE_PRO_CHIN_P1_R: 786432,
        BETAFACE_FEATURE_PRO_CHIN_EARCONN_R: 851968,
        BETAFACE_FEATURE_PRO_TEMPLE_P4_R: 917504,
        BETAFACE_FEATURE_PRO_TEMPLE_P3_R: 983040,
        BETAFACE_FEATURE_PRO_TEMPLE_P2_R: 1048576,
        BETAFACE_FEATURE_PRO_TEMPLE_P1_R: 1114112,
        BETAFACE_FEATURE_PRO_TEMPLE_R: 1179648,
        BETAFACE_FEATURE_PRO_FOREHEAD_R: 1245184,
        BETAFACE_FEATURE_PRO_FOREHEAD_P4: 1310720,
        BETAFACE_FEATURE_PRO_FOREHEAD_P3: 1376256,
        BETAFACE_FEATURE_PRO_FOREHEAD_M: 1441792,
        BETAFACE_FEATURE_PRO_FOREHEAD_P2: 1507328,
        BETAFACE_FEATURE_PRO_FOREHEAD_P1: 1572864,
        BETAFACE_FEATURE_PRO_FOREHEAD_L: 1638400,
        BETAFACE_FEATURE_PRO_TEMPLE_L: 1703936,
        BETAFACE_FEATURE_PRO_TEMPLE_P1_L: 1769472,
        BETAFACE_FEATURE_PRO_TEMPLE_P2_L: 1835008,
        BETAFACE_FEATURE_PRO_TEMPLE_P3_L: 1900544,
        BETAFACE_FEATURE_PRO_TEMPLE_P4_L: 1966080,
        BETAFACE_FEATURE_PRO_EYE_O_R: 2031616,
        BETAFACE_FEATURE_PRO_EYE_BO_R: 2097152,
        BETAFACE_FEATURE_PRO_EYE_B_R: 2162688,
        BETAFACE_FEATURE_PRO_EYE_BI_R: 2228224,
        BETAFACE_FEATURE_PRO_EYE_I_R: 2293760,
        BETAFACE_FEATURE_PRO_EYE_TI_R: 2359296,
        BETAFACE_FEATURE_PRO_EYE_T_R: 2424832,
        BETAFACE_FEATURE_PRO_EYE_TO_R: 2490368,
        BETAFACE_FEATURE_PRO_EYE_O_L: 2555904,
        BETAFACE_FEATURE_PRO_EYE_TO_L: 2621440,
        BETAFACE_FEATURE_PRO_EYE_T_L: 2686976,
        BETAFACE_FEATURE_PRO_EYE_TI_L: 2752512,
        BETAFACE_FEATURE_PRO_EYE_I_L: 2818048,
        BETAFACE_FEATURE_PRO_EYE_BI_L: 2883584,
        BETAFACE_FEATURE_PRO_EYE_B_L: 2949120,
        BETAFACE_FEATURE_PRO_EYE_BO_L: 3014656,
        BETAFACE_FEATURE_PRO_EYEBROW_I_R: 3080192,
        BETAFACE_FEATURE_PRO_EYEBROW_TI_R: 3145728,
        BETAFACE_FEATURE_PRO_EYEBROW_T_R: 3211264,
        BETAFACE_FEATURE_PRO_EYEBROW_TO_R: 3276800,
        BETAFACE_FEATURE_PRO_EYEBROW_O_R: 3342336,
        BETAFACE_FEATURE_PRO_EYEBROW_BO_R: 3407872,
        BETAFACE_FEATURE_PRO_EYEBROW_B_R: 3473408,
        BETAFACE_FEATURE_PRO_EYEBROW_BI_R: 3538944,
        BETAFACE_FEATURE_PRO_EYEBROW_I_L: 3604480,
        BETAFACE_FEATURE_PRO_EYEBROW_TI_L: 3670016,
        BETAFACE_FEATURE_PRO_EYEBROW_T_L: 3735552,
        BETAFACE_FEATURE_PRO_EYEBROW_TO_L: 3801088,
        BETAFACE_FEATURE_PRO_EYEBROW_O_L: 3866624,
        BETAFACE_FEATURE_PRO_EYEBROW_BO_L: 3932160,
        BETAFACE_FEATURE_PRO_EYEBROW_B_L: 3997696,
        BETAFACE_FEATURE_PRO_EYEBROW_BI_L: 4063232,
        BETAFACE_FEATURE_PRO_MOUTH_L: 4128768,
        BETAFACE_FEATURE_PRO_MOUTH_TL: 4194304,
        BETAFACE_FEATURE_PRO_MOUTH_T: 4259840,
        BETAFACE_FEATURE_PRO_MOUTH_TR: 4325376,
        BETAFACE_FEATURE_PRO_MOUTH_R: 4390912,
        BETAFACE_FEATURE_PRO_MOUTH_BR: 4456448,
        BETAFACE_FEATURE_PRO_MOUTH_B: 4521984,
        BETAFACE_FEATURE_PRO_MOUTH_BL: 4587520,
        BETAFACE_FEATURE_PRO_NOSE_T_L: 4653056,
        BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_L: 4718592,
        BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_L: 4784128,
        BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_L: 4849664,
        BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_L: 4915200,
        BETAFACE_FEATURE_PRO_NOSE_B: 4980736,
        BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_R: 5046272,
        BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_R: 5111808,
        BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_R: 5177344,
        BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_R: 5242880,
        BETAFACE_FEATURE_PRO_NOSE_T_R: 5308416,
        BETAFACE_FEATURE_PRO_EYE_IRIS_R: 5373952,
        BETAFACE_FEATURE_PRO_EYE_IRIS_L: 5439488,
        BETAFACE_FEATURE_PRO_NOSE_TIP: 5505024,
        BETAFACE_FEATURE_PRO_CHEEKBONE_L: 5570560,
        BETAFACE_FEATURE_PRO_CHEEKBONE_R: 5636096,
        BETAFACE_FEATURE_PRO_NOSE_BRIDGE_T: 5701632,
        BETAFACE_FEATURE_PRO_NOSE_BRIDGE_M: 5767168,
        BETAFACE_FEATURE_PRO_NOSE_BRIDGE_B: 5832704,
        BETAFACE_FEATURE_PRO_MOUTH_TL_P1: 5898240,
        BETAFACE_FEATURE_PRO_MOUTH_BL_P1: 5963776,
        BETAFACE_FEATURE_PRO_MOUTH_BR_P1: 6029312,
        BETAFACE_FEATURE_PRO_MOUTH_TR_P1: 6094848,
        BETAFACE_FEATURE_PRO_MOUTH_I_L: 6160384,
        BETAFACE_FEATURE_PRO_MOUTH_I_BL: 6225920,
        BETAFACE_FEATURE_PRO_MOUTH_I_B: 6291456,
        BETAFACE_FEATURE_PRO_MOUTH_I_BR: 6356992,
        BETAFACE_FEATURE_PRO_MOUTH_I_R: 6422528,
        BETAFACE_FEATURE_PRO_MOUTH_I_TR: 6488064,
        BETAFACE_FEATURE_PRO_MOUTH_I_T: 6553600,
        BETAFACE_FEATURE_PRO_MOUTH_I_TL: 6619136
    };

    function DrawLine(canvas, scaleX, scaleY, offsetX, offsetY, pts, ptid1, ptid2, face) {
        var pt_found = 0;
        var pt1x = 0.0,
            pt1y = 0.0,
            pt2x = 0.0,
            pt2y = 0.0;
        for (var k = 0; pts.length > k; k++) {
            var type = pts[k].type;
            if (type == ptid1 || type == ptid2) {
                var x = offsetX + (parseFloat(pts[k].positionX) * scaleX);
                var y = offsetY + (parseFloat(pts[k].positionY) * scaleY);
                if (type == ptid1) {
                    pt1x = x;
                    pt1y = y;
                } else {
                    pt2x = x;
                    pt2y = y;
                }
                pt_found++;
                if (2 == pt_found) {
                    canvas.add(new fabric.Line([pt1x, pt1y, pt2x, pt2y], {
                        fill: face.isValid ? 'lightgreen' : 'red',
                        stroke: face.isValid ? 'lightgreen' : 'red',
                        strokeWidth: 1,
                        selectable: false,
                        hasControls: false,
                        hasBorders: false,
                        lockMovementX: true,
                        lockMovementY: true,
                        evented: false
                    }));
                    break;
                }
            }
        }
    }
    
    function DrawFace(canvas, scaleX, scaleY, offsetX, offsetY, face) {    
        if (face.points.length > 0)
        {       
            var w = 1.10 * face.width * scaleX;
            var h = 1.25 * face.height * scaleY;
            var x = offsetX + (face.positionX * scaleX) - 40.0 - w / 2;
            var y = offsetY + (face.positionY * scaleY) - h / 2;
            var a = -face.angle;
            var rc = new fabric.Rect({
                top: y,
                left: x,
                width: w,
                height: h,
                angle: a,
                fill: face.isValid ? 'lightgreen' : 'red',
                stroke: face.isValid ? 'lightgreen' : 'red',
                strokeWidth: 2,
                fill: 'transparent',
                selectable: false,
                hasControls: false,
                hasBorders: false,
                lockMovementX: true,
                lockMovementY: true
            });
            rc.evented = false;
            canvas.add(rc);
        }

        if (face.isValid)
        {
            SwitchClass($("#faceMatchStatus"), "text-white text-red text-orange", "text-green");
            $("#faceMatchStatus").text("@Resources.FaceMatch");            
        }
        else
        {
            SwitchClass($("#faceMatchStatus"), "text-white text-green text-orange", "text-red");
            $("#faceMatchStatus").text("@Resources.FaceNotMatch");
        }
    }

    function UpdateRetryAttempts(current, max){
        $('#currentAttempts').text(current);
        $('#maximumAttempts').text(max);
    }

    function CancelCapturePhotoConfirmation() {
    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>@Resources.CancelConfirmationMessage</h4></div></div>",
    title: "@Resources.CancelConfirmationTitle",
    buttons: {
    retry: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () {
    Cancelled();

    if (typeof (window.external.AllowNavigation) !== 'undefined') {
    window.external.AllowNavigation(true);
    }

    $('form#form0').submit();
    }
    },
    cancel: {
    label: "@Resources.Cancel",
    className: "btn-danger dialog-btn",
    callback: function () {
    }
    }
    }
    });
    }

    function Cancelled(){
        if (typeof (window.external.CancelCheckIn) !== 'undefined') {
            window.external.CancelCheckIn(true);
        }
    }
}

@section jsResize{
    resize();
}