﻿@model _5FootWay.Models.CheckInModel

@{
    ViewBag.Title = @Resources.CheckInTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.CheckInTitle</h2>
            </div>
        </div>
    </div>
</div>
}


@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section content{
    <div id="formItem" class="box" style="height:550px">
    @using (Ajax.BeginForm("CheckIn", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { @role = "form" }
        )
    )
{
    @*<div class="box-body" style="padding-top:120px; padding-bottom:190px">*@
        <div class="box-body">
            <div class="col-sm-12">
                <div class="row" style="padding-top:200px;">
                    <div class="col-sm-5">
                        <div class="form-group left">
                            <label class="form-label text-white checkinPage" for="@Model.guestName">@Resources.EnterName</label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-label text-white checkinPage" >@Resources.Or</label>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group left">
                            <label class="form-label text-white checkinPage" style="margin-left:-12px" for="@Model.bookingNumber">@Resources.EnterScanBookingNumber</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:10px;">
                    <div class="col-sm-5">
                        <div class="form-group left">
                            @Html.EditorFor(CM => CM.guestName, new { htmlAttributes = new { @Class = "qwerty form-control text-white move-up" } })
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="form-group left">
                            @Html.EditorFor(CM => CM.bookingNumber, new { htmlAttributes = new { @Class = "qwerty form-control text-white move-up" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer" style="margin-top:120px">
            <div class="col-sm-6" style="padding-left:350px;position:relative;">
                <div class="form-group">
                    <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" onclick="event.preventDefault(); CancelCheckInConfirmation();">
                        <div class="border-content">@Resources.Cancel</div>
                    </button>
                </div>
            </div>
            <div class="col-sm-6" style="padding-right:350px;position:relative">
                <div class=" form-group">
                    <button id="btnCheckIn" type="button" class="btn my-btn-white large-button-style center middle text-black">
                        <div class="border-content">@Resources.Next</div>
                    </button>
                </div>
            </div>
        </div>
    }
</div>

}

@section jsScripts{
    function scanBookingNumber(bookingNumber)
    {
    $('#bookingNumber').val(bookingNumber);
    }

    function setCheckInData(data)
    {
        $.ajax(
        {
            url: '@Url.Action("SetBookingDetail", "Base")',
            type: 'POST',
            dataType : "json",
            data:
            {
                checkInDataString: data
            },
            success: function (data)
            {
                if(!data)
                {
                    errorMessage("", true, "");
                }
                else
                {
                    if (typeof (window.external.AllowNavigation) !== 'undefined') {
                        window.external.AllowNavigation(true);
                    }

                $('form#form0').submit();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) 
            {                
                if (typeof(window.external.LogException) !== 'undefined') {
                    window.external.LogException(thrownError);
                }

                doneLoading();

                errorMessage("", true, "");
            }
        });
    }

    function SearchCheckInFailed(result)
    {
    var message = "";

    if(result == 0){
    message = '@Resources.CheckInMessage1';
    }
    else if(result == 1){
    message = '@Resources.CheckInMessage2';
    }
    else if(result == 2){
    message = '@Resources.CheckInMessage3';
    }

    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>" + message + "</h4></div></div>",
    title: '@Resources.AlertMessageTitle',
    buttons: {
    ok: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () {
    }
    }
    }
    });
    }

    function CancelCheckInConfirmation() {
    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>@Resources.CancelConfirmationMessage</h4></div></div>",
    title: "@Resources.CancelConfirmationTitle",
    buttons: {
    retry: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () {
    Cancelled();

    if (typeof (window.external.AllowNavigation) !== 'undefined') {
    window.external.AllowNavigation(true);
    }

    $('form#form0').submit();
    }
    },
    cancel: {
    label: "@Resources.Cancel",
    className: "btn-danger dialog-btn",
    callback: function () {
    }
    }
    }
    });
    }

    function Cancelled(){
    if (typeof (window.external.CancelCheckIn) !== 'undefined') {
    window.external.CancelCheckIn(true);
    }
    }
}
