﻿@model _5FootWay.Models.PaymentModel

@{
    ViewBag.Title = @Resources.PaymentTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.PaymentTitle</h2>
            </div>
            <div class="row">
            @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
          
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height:510px">
        @using (Ajax.BeginForm("Payment", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body" style="padding-top:5px;">
                <div class="col-sm-8 text-white" id="PaymentTip" style="font-size: 20pt; padding-top:100px">-</div>
                <div class="col-sm-4" style="margin-top:30px;margin-bottom:20px; margin-left:-12px">
                    <img class="img-responsive imageBorder" src="~/images/TempImage/Credit Card.gif" style="" />
                </div>
            </div>

        <div class="box-footer" style="margin-top:-50px;margin-left:-120px">
                @*<div class=" col-sm-offset-3 col-sm-3">
            <div class="form-group">
                <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" name="command" onclick="event.preventDefault(); CancelConfirmation();" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                    <div class="border-content">@Resources.Cancel</div>
                </button>
            </div>
        </div>*@
                <div class="col-sm-offset-6 col-sm-3">
                    <div class="form-group">
                        <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black hide-only" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                            <div class="border-content">@Resources.Next</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section jsScripts{
    function showPayment(){
    $('#btnNext').removeClass('hide-only');
    }

    function showPaymentTip(messageCode, message){
        var target = $('#PaymentTip');
        if(messageCode == "00")
        {     
            SwitchClass(target, "text-red text-grey text-orange", "text-green");
            @*transaction success code*@       
            target.text("@Resources.PaymentTip0");
        }
        else if (messageCode === "01")
        {
            SwitchClass(target, "text-red text-green text-orange", "text-grey");
            @*insert card code*@
            target.text("@Resources.PaymentTip1");
        }
        else if (messageCode === "02")
        {
            SwitchClass(target, "text-red text-grey text-green", "text-orange");
            @*swiftly collect code*@
            target.text("@Resources.PaymentTip2");
        }
        else if (messageCode === "03")
        {
            SwitchClass(target, "text-red text-grey text-green", "text-orange");
            @*collect code*@
            target.text("@Resources.PaymentTip3");
        }
        else if (messageCode === "04")
        {
            SwitchClass(target, "text-red text-green text-orange", "text-grey");
            @*insert and swiftly collect code*@
            target.text("@Resources.PaymentTip4");
        }
        else if (messageCode === "05")
        {
            SwitchClass(target, "text-red text-green text-orange", "text-grey");
            @*insert and tap card code*@
            target.text("@Resources.PaymentTip5");
        }
        else if (messageCode === "97")
        {
            SwitchClass(target, "text-grey text-green text-orange", "text-red");
            @*please wait and do not remove code*@
            target.text("@Resources.PaymentTip97");
        }
        else if (messageCode === "98")
        {
            SwitchClass(target, "text-grey text-green text-orange", "text-red");
            @*processing transaction code*@
            target.text("@Resources.PaymentTip98");
        }
        else if (messageCode === "99")
        {
            SwitchClass(target, "text-grey text-green text-orange", "text-red");
            @*please wait for processing transaction code*@
            target.text("@Resources.PaymentTip99");
        }
        else
        {
            SwitchClass(target, "text-red text-green text-orange", "text-grey");
            @*unknown code*@
            target.text(message);
        }
    }

    function showResponseMessage(paymentType, responseCode, current, max) {
        $.ajax({
            url: '@Url.Action("GetResponseMessage")',
            data: {
            paymentType: paymentType,
            responseCode: responseCode
            },
            success: function (data) {
                bootbox.dialog({
                    message: "<div class='col-sm-12'>" +
                    "<div class='row'><h4>" + data + "</h4></div>" +
                    "<br/>" +
                    "<div class='row'>@Resources.CurrentTryAttempt " + current + "</div>" +
                    "<div class='row'>@Resources.MaximumTryAttempt " + max + "</div>" +
                    "</div>",
                    title: "@Resources.AlertMessageTitle",
                    closeButton: false,
                    buttons: {
                        retry: {
                            label: "@Resources.Retry",
                            className: "btn-success dialog-btn",
                            callback: function () {
                                if (typeof(window.external.StartCreditCardReader) !== 'undefined') {
                                    window.external.StartCreditCardReader(true);
                                }
                            }
                        },
                        cancel: {
                            label: "@Resources.Cancel",
                            className: "btn-danger dialog-btn",
                            callback: function () {
                                if (typeof (window.external.AllowNavigation) !== 'undefined') {
                                    window.external.AllowNavigation(true);
                                }
                                var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                                if(controller === "CheckIn"
                                || controller === "CheckOut")
                                {
                                    location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                                } else {
                                    location.href = '@Url.Action("Index", "Home")';
                                }
                            }
                        }
                    }
                });
            }
        });
    }

    function showErrorResponseMessage(paymentType) {
        $.ajax({
            url: '@Url.Action("GetResponseMessage")',
            data: {
            paymentType: paymentType,
            responseCode: "MT"
            },
            success: function (data) {
                bootbox.dialog({
                    message: "<div class='col-sm-12'>" +
                        "<div class='row'><h4>" + data + "</h4></div>" +
                        "</div>",
                    title: "@Resources.ErrorMessageTitle",
                    closeButton: false,
                    buttons: {
                        ok: {
                            label: "@Resources.OK",
                            className: "btn-success dialog-btn",
                            callback: function () {
                                if (typeof (window.external.AllowNavigation) !== 'undefined') {
                                    window.external.AllowNavigation(true);
                                }
                                var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                                if(controller === "CheckIn"
                                    || controller === "CheckOut")
                                {
                                    location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                                } else {
                                    location.href = '@Url.Action("Index", "Home")';
                                }
                            }
                        }
                    }
                });
            }
        });
    }
}
