@model _5FootWay.Models.PDAModel

@{
    ViewBag.Title = @Resources.PDATitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}


@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.PDATitle</h2>
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height:660px">
    @using (Ajax.BeginForm("PDA", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
{
    <div class="box-body" onclick="changeAgreeChecked()">
        <div class="form-group" style="vertical-align:middle">
            <div class="col-sm-12">
                <textarea class="text-grey my-text-area  my-scroll-bar" rows="14" readonly disabled>@Resources.PDA</textarea>
            </div>
            <div class="col-sm-12" style="height:200px;padding-top:120px;position:relative; top:-220px">
                @Html.CheckBoxFor(CM => CM.isAgree, new { @Class = "agree-checkbox", onclick = "handleClick(this);" })
                <label class="form-label" style="position:relative; top:-10px">@Resources.Agree</label>
            </div>
        </div>
    </div>

        <div class="box-footer" style="margin-top:-50px">
            <div class="col-sm-offset-3 col-sm-3">
                <div class="form-group">
                    <button id="btnBack" class="btn my-btn-grey large-button-style center middle text-white" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                        <div class="border-content">@Resources.Back</div>
                    </button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class=" form-group">
                    <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next" onclick="return checkAgree()">
                        <div class="border-content">@Resources.Next</div>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
}

@section jsOnLoad{
    @*$('#isAgree').iCheck({
    checkboxClass: 'icheckbox_futurico',
    radioClass: 'iradio_futurico'
    });*@
}

@section jsScripts{
    function handleClick(e) {
        e.checked = !e.checked;
    }

    function checkAgree(){

    if(!$('#isAgree').prop( "checked" )){
        bootbox.dialog({
            message: "<div class='col-sm-12'>" +
            "<div class='row'><h4>@Resources.PDAUncheckedMessage</h4></div>" +
            "</div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                    }
                }
            }
        });

            return false;
        }else{
            return true;
        }
    }

    function changeAgreeChecked()
    {
        if(!$('#isAgree').prop( "checked" )){
            $('#isAgree').prop('checked', true);
        }
        else{
            $('#isAgree').prop('checked', false);
        }
    }
}
