﻿@model _5FootWay.Models.ScanPassportModel

@{
    ViewBag.Title = @Resources.PassportDetailsTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
    <div class="col-sm-12">
        <div style="padding-left:20px; padding-right:20px">
            <div class="section-header-container">
                <div class="row">
                    <h2 class="section-header">@Resources.PassportDetailsTitle</h2>
                </div>
                <div class="row">
                   @Html.Partial("_CheckInDetails2", Model.checkInData.checkInSubHeader) 
                </div>
            </div>
        </div>
    </div>
}

@section content{
    <div id="formItem" class="box" style="height: 510px">
    @using (Ajax.BeginForm("ScanPassport", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
    {
        <div class="box-body">
            <div class="col-sm-12" style="margin-top:20px;">
                <div style="margin-top:10px">
                    <div class="col-sm-8" id="scanPassportRules">
                        <div class="text-white" id="scanPassportTips" style="font-size: 20pt;font-weight:bold;margin-top:100px;padding-top:20px; padding-bottom:170px">@Resources.ScanPassportRule1</div>
                    </div>
                    <div class="col-sm-8 hide" id="passportDetail" style="margin-top:90px;padding-bottom:50px">
                        <div class="col-sm-6">
                            <div class="form-group1 left location1">
                                <label for="@Model.passportDetail.guestName" class="text-white form-label1">@Resources.Name</label>
                                @Html.EditorFor(CM => CM.passportDetail.guestName, new { htmlAttributes = new { @Class = "form-control text-black", value = Model.passportDetail.guestName, Disabled = "" } })
                            </div>
                            <div class="form-group1 left location1">
                                <label for="@Model.passportDetail.gender" class="text-white form-label1">@Resources.Gender</label>
                                @Html.DropDownListFor(CM => CM.passportDetail.gender, new SelectList(Model.genderList, "Value", "Text", Model.passportDetail.gender), new { @Class = "form-control text-black", Disabled = "" })
                            </div>
                            <div class="form-group1 left location1">
                                <label for="@Model.passportDetail.dob" class="text-white form-label1">@Resources.DOB</label>
                                @Html.EditorFor(CM => CM.passportDetail.dob, new { htmlAttributes = new { @Class = "form-control text-black", value = Model.passportDetail.dob, Disabled = "" } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group1 left location1">
                                <label for="@Model.passportDetail.passportNumber" class="text-white form-label1">@Resources.PassportNumber</label>
                                @Html.EditorFor(CM => CM.passportDetail.passportNumber, new { htmlAttributes = new { @Class = "form-control text-black", value = Model.passportDetail.passportNumber, Disabled = "" } })
                            </div>
                            <div class="form-group1 left location1">
                                <label for="@Model.passportDetail.nationality" class="text-white form-label1">@Resources.Nationality</label>
                                @Html.DropDownListFor(CM => CM.passportDetail.nationalityCode, new SelectList(Model.nationalityList, "Value", "Text", Model.passportDetail.nationality), new { @Class = "form-control text-black", @style = "width:100%" })
                            </div>
                            <div class="form-group1 left location1">
                                <label for="@Model.passportDetail.expiryDate" class="text-white form-label1">@Resources.ExpiryDate</label>
                                @Html.EditorFor(CM => CM.passportDetail.expiryDate, new { htmlAttributes = new { @Class = "form-control text-black", value = Model.passportDetail.expiryDate, Disabled = "" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="">
                        <img class="img-responsive imageBorder" src="~/images/TempImage/Scan Passport.gif" style="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer" style="margin-top:-20px">
            @if (Model.checkInData.haveGuest)
            {
            <div class="col-sm-offset-3 col-sm-3">
                <div class="form-group">
                    <button id="btnBack" class="btn my-btn-grey large-button-style center middle text-white" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                        <div class="border-content">@Resources.Back</div>
                    </button>
                </div>
            </div>
            <div id="scanPassport" class="col-sm-3 hide">
                <div class="form-group">
                    <button id="btnScanPassport" type="button" class="btn my-btn-white large-button-style center middle text-black">
                        <div class="border-content">@Resources.ScanPassport</div>
                    </button>
                </div>
            </div>
            <div id="divNext" class="col-sm-3 hide">
                <div class=" form-group">
                    <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                        <div class="border-content">@Resources.Next</div>
                    </button>
                </div>
            </div>
            }
            else
            {
            <div class="col-sm-offset-3 col-sm-3">
                <div class="form-group">
                    <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" onclick="event.preventDefault(); CancelConfirmation();">
                        <div class="border-content">@Resources.Cancel</div>
                    </button>
                </div>
            </div>
            <div id="scanPassport" class="col-sm-3 hide">
                <div class="form-group">
                    <button id="btnScanPassport" type="button" class="btn my-btn-white large-button-style center middle text-black">
                        <div class="border-content">@Resources.ScanPassport</div>
                    </button>
                </div>
            </div>           
            <div id="divNext" class="col-sm-3 hide">
                <div class=" form-group">
                    <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                       <div class="border-content">@Resources.Next</div>
                    </button>
                </div>
            </div>

 

            }
        </div>
        <div id="hiddenData">
            @Html.HiddenFor(CM => CM.passportDetail.guestName, new { id = "guestName" })
            @Html.HiddenFor(CM => CM.passportDetail.nationalityCode, new { id = "nationalityCode" })
            @Html.HiddenFor(CM => CM.passportDetail.gender, new { id = "gender" })
            @Html.HiddenFor(CM => CM.passportDetail.passportNumber, new { id = "passportNumber" })
            @Html.HiddenFor(CM => CM.passportDetail.dob, new { id = "dob" })
            @Html.HiddenFor(CM => CM.passportDetail.expiryDate, new { id = "expiryDate" })
        </div>
    }
</div>

}

@section jsScripts{
    function matchStart (term, text) {
        if (text.toUpperCase().indexOf(term.toUpperCase()) == 0) {
            return true;
        }

        return false;
    }
  


    function showPasspostTips(step)
    {
        if(step === -2){
            ChangeTextColor('text-grey', 'text-red');
            $('#scanPassportTips').text('@Resources.DocumentReaderDisconnected');
        }else if(step === -1){
            ChangeTextColor('text-grey', 'text-red');
            $('#scanPassportTips').text('@Resources.DocumentReaderErrorState');
        }else if(step === 0){
            ChangeTextColor('text-grey', 'text-red');
            $('#scanPassportTips').text('@Resources.DocumentReaderResolvingError');
        }else if(step === 1){
            //if($('#btnScanPassport').hasClass("hide-only")){
            //    $('#btnScanPassport').removeClass("hide-only");
            //}
            ChangeTextColor('text-red', 'text-grey');
            $('#scanPassportTips').text('@Resources.ScanPassportRule1');
        }else if(step === 2){
            //if($('#btnScanPassport').hasClass("hide-only")){
            //    $('#btnScanPassport').removeClass("hide-only");
            //}
            //ChangeTextColor('text-red', 'text-grey');
            //$('#scanPassportTips').text('@Resources.ScanPassportRule2');
        }else if(step === 3){
            //if(!$('#btnScanPassport').hasClass("hide-only")){
            //    $('#btnScanPassport').addClass("hide-only");
            //}
            ChangeTextColor('text-grey', 'text-red');
            $('#scanPassportTips').text('@Resources.ScanPassportRule3');
        }
    }

    function ChangeTextColor(prevColor, newColor){
        if($('#scanPassportTips').hasClass(newColor)){
            $('#scanPassportTips').removeClass(prevColor);
        }else if($('#scanPassportTips').hasClass(prevColor)){
            $('#scanPassportTips').removeClass(prevColor);
            $('#scanPassportTips').addClass(newColor);
        }
    }

    function changeNationality(countryCode){
        $('#passportDetail_nationalityCode').val(countryCode).trigger('change');
    }

    function updateDatePicker(datepicker, date){
        $('#' + datepicker).datepicker('update', date);
    }

    function showPassportDetail(){    

        $("#guestName").val($("#passportDetail_guestName").val());
        $("#passportDetail_guestName").prop('disabled', true);
        $("#gender").val($("#passportDetail_gender").val());
        $("#passportDetail_gender").prop('disabled', true);
        $("#nationalityCode").val($("#passportDetail_nationalityCode").val());
        $("#passportDetail_nationalityCode").prop('disabled', true);
        $("#passportNumber").val($("#passportDetail_passportNumber").val());
        $("#passportDetail_passportNumber").prop('disabled', true);
        $("#dob").val($("#passportDetail_dob").val());
        $("#passportDetail_dob").prop('disabled', true);
        $("#expiryDate").val($("#passportDetail_expiryDate").val());
        $("#passportDetail_expiryDate").prop('disabled', true);
                
        $('#passportDetail').removeClass('hide');
        $('#scanPassportRules').addClass('hide');
    
        SwitchClass($("#scanPassport"), '', 'hide');
        SwitchClass($("#divNext"), 'hide', '');  
    }

    function showScanPassportRule(){
        $("#passportDetail_guestName").prop('disabled', false);
        $("#passportDetail_gender").prop('disabled', false);
        $("#passportDetail_nationalityCode").prop('disabled', false);
        $("#passportDetail_passportNumber").prop('disabled', false);
        $("#passportDetail_dob").prop('disabled', false);
        $("#passportDetail_expiryDate").prop('disabled', false);

        $('#passportDetail').addClass('hide');
        $('#scanPassportRules').removeClass('hide');    
    }

    function showDocumentNoDocked(){
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.ScanPassportNoDocument</h4></div></div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                    }
                }
            }
        });
    }

    function showScanFailed(){
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.ScanPassportInvalid</h4></div></div>",
            title: '@Resources.AlertMessageTitle',
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                    }
                }
            }
        });
    }

    function showInvalidGenderAlert(gender) {
        var errorMsg = "";
        if (gender == "M") errorMsg = "@Resources.InvalidGenderMale"
        else if (gender == "F") errorMsg = "@Resources.InvalidGenderFemale"
        else errorMsg = "@Resources.InvalidGenderMale"

        bootbox.dialog({
            message: "<div class='col-sm-12'>" +
                     "<div class='row'><h4>" + errorMsg + "</h4></div>" +
                     "</div>",
            title: "@Resources.AlertMessageTitle",
            closeButton: false,
            buttons: {
                retry: {
                    label: "@Resources.Retry",
                    className: "btn-success dialog-btn",
                    callback: function () {
                        if (typeof(window.external.StartScanDocument) !== 'undefined') {
                                window.external.StartScanDocument(true);
                        }
                    }
                },
                cancel: {
                    label: "@Resources.Cancel",
                    className: "btn-danger dialog-btn",
                    callback: function () {
                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }
                        var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                        if(controller === "CheckIn"
                        || controller === "CheckOut")
                        {
                            location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                        } else {
                            location.href = '@Url.Action("Index", "Home")';
                        }
                    }
                }
            }
        });
    }
}

@section jsOnLoad{
    $.fn.select2.amd.require(['select2/compat/matcher'], function (oldMatcher) {
        $("#passportDetail_nationalityCode").select2({
            matcher: oldMatcher(matchStart),
            placeholder: "@Resources.NationalityOptions",
            allowClear: false,
            tags: true,
            containerCssClass: "form-control text-black qwerty",
            "language": {
                "noResults": function(){
                    return "No Results Found";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            }
        });
    });

    $("#passportDetail_dob").datepicker({
        locale: "@Culture",
        date: "@Model.passportDetail.dob", // set init date
        format: "@Helper.DefaultValue.defaultDatePickerFormat", // set output format
        effect: "none", // none, slide, fade
        position: "bottom" // top or bottom
    });

    $("#passportDetail_expiryDate").datepicker({
        locale: "@Culture",
        date: "@Model.passportDetail.expiryDate", // set init date
        format: "@Helper.DefaultValue.defaultDatePickerFormat", // set output format
        effect: "none", // none, slide, fade
        position: "bottom" // top or bottom
    });
}

