﻿@model _5FootWay.Models.SecurityDepositModel

@{
    ViewBag.Title = @Resources.SecurityDepositTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.SecurityDepositTitle</h2>
            </div>
            <div class="row">
                @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader) 
            </div>
        </div>
    </div>
</div>
}

@section header {
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section content{
    <div id="formItem" class="box" style="height:510px">
        @using (Ajax.BeginForm("SecurityDeposit", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body" style="">
                <div class="col-sm-9" style="padding-top:20px; padding-bottom:20px">
                    <div class="form-group">
                        <div id="SecurityDepositTip" class="text-white" style="font-size: 30px"></div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="text-red center middle" style="font-size: 20pt">@Resources.SecurityDepositTip</div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-7 middle">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="@Model.amountPayable" class="text-white form-label">@Resources.AmountPayable</label>
                                <div id="amountPayable" class="text-white" style="padding: 20px; font-size: 50px">
                                    @Html.DisplayFor(CM => CM.amountPayable)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="@Model.amountInserted" class="text-white form-label">@Resources.AmountInsert</label>
                                <div id="amountInserted" class="text-red" style="padding: 20px; font-size: 50px">
                                    @Html.DisplayFor(CM => CM.amountInserted)
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="@Model.amountChange" class="text-white form-label">@Resources.AmountChange</label>
                                <div id="amountChange" class="text-green" style="padding: 20px; font-size: 50px">
                                    @Html.DisplayFor(CM => CM.amountChange)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-top:-110px;margin-left:-10px">
                    <img class="img-responsive imageBorder" src="~/images/TempImage/Deposit.gif" style="" />
                </div>
            </div>
            
            
        <div class="box-footer" style="">
            <div class="col-sm-6" style="padding-left:350px;">
                <div class="form-group">
                    <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" onclick="event.preventDefault(); CancelSecurityDepositConfirmation();">
                        <div class="border-content">@Resources.Cancel</div>
                    </button>
                </div>
            </div>
            <div class="col-sm-6" style="padding-right:350px;">
            <div class=" form-group">
                <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black hide-only" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                    <div class="border-content">@Resources.Next</div>
                </button>
            </div>
        </div>
    </div>
        }
    </div>
 }

@section jsScripts{
    function showSecurityDeposit(){
    $('#btnNext').removeClass('hide-only');
    }

    function showRetryMessage() {        
            bootbox.dialog({
            message: "<div class='col-sm-12'>" +
                "<div class='row'><h4>@Resources.SecurityDepositRetryMessage</h4></div>" +
                "</div>",
            title: "@Resources.AlertMessageTitle",
            closeButton: false,
            buttons: {
                retry: {
                    label: "@Resources.Retry",
                    className: "btn-success dialog-btn",
                    callback: function () {
                        if (typeof(window.external.StartCashDispenser) !== 'undefined') {
                            window.external.StartCashDispenser(true);
                        }
                    }
                },
                cancel: {
                    label: "@Resources.Cancel",
                    className: "btn-danger dialog-btn",
                    callback: function () {
                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }
                        var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                        if(controller === "CheckIn"
                            || controller === "CheckOut")
                        {
                            location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                        } else {
                            location.href = '@Url.Action("Index", "Home")';
                        }
                    }
                }
            }
        });
    }

    function showHideCancelBtn(show){
        if(show){
            if($("#btnCancel").hasClass("hide-only")){
                $("#btnCancel").removeClass("hide-only");
            }
        }else{
            if(!$("#btnCancel").hasClass("hide-only")){
                $("#btnCancel").addClass("hide-only");
            }
        }
    }

    function showSecurityDepositTip(step){
        showHideCancelBtn(false);
        if(step === 1){
            $("#SecurityDepositTip").text("@Resources.SecurityDepositInsert");
        }else if(step === 2 || step === 3 || step === 4 || step === 5){
            // DO NOTHING
        }else if(step === 6){
            $("#amountInserted").removeClass("text-red");
            $("#amountInserted").addClass("text-green");
            $("#amountChange").removeClass("text-green");
            $("#amountChange").addClass("text-red");
            // money/cash stored in the machine (cash box or payout/recycler)
        }else if(step === 7){
            $("#SecurityDepositTip").text("@Resources.SecurityDepositWithdrawing");
        }else if(step === 8){
            $("#SecurityDepositTip").text("@Resources.SecurityDepositCollect");
        }else if(step === 9){
            $("#amountChange").removeClass("text-red");
            $("#amountChange").addClass("text-green");
            $("#SecurityDepositTip").text("@Resources.SecurityDepositWithdraw");
        }else if(step === 10){
            $("#SecurityDepositTip").text("@Resources.SecurityDepositComplete");
        }else if(step === 11){
            showHideCancelBtn(true);
            $("#SecurityDepositTip").text("@Resources.SecurityDepositChargeNotAvailable");
        }else if(step === -1){
            showHideCancelBtn(true);
            $("#SecurityDepositTip").text("@Resources.ReturnDepositError");
        }
    }

    showSecurityDepositTip(1);
    showHideCancelBtn(true);

    function CancelSecurityDepositConfirmation() {
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.CancelConfirmationMessage</h4></div></div>",
            title: "@Resources.CancelConfirmationTitle",
            buttons: {
                retry: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                        Cancelled();

                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }

                        $('form#form0').submit();
                    }
                },
                cancel: {
                    label: "@Resources.Cancel",
                    className: "btn-danger dialog-btn",
                    callback: function () {
                    }
                }
            }
        });
    }

    function Cancelled(){
        if (typeof (window.external.CancelSecurityDeposit) !== 'undefined') {
            window.external.CancelSecurityDeposit(true);
        }
    }
}
