﻿@model _5FootWay.Models.SignatureModel

@{
    ViewBag.Title = @Resources.SignatureTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
    <div class="col-sm-12">
        <div style="padding-left:20px; padding-right:20px">
            <div class="section-header-container">
                <div class="row">
                    <h2 class="section-header">@Resources.SignatureTitle</h2>
                </div>
                <div class="row">
                    @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)

                </div>
            </div>
        </div>
    </div>
}

@section content{
    <div id="formItem" class="box" style="height: 510px">
        @using (Ajax.BeginForm("Signature", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body" style="overflow-y: hidden;overflow-x: hidden; ">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div id="signatureTip" class="text-white" style="padding-top:15px ;font-size: 26px">@Resources.SignatureTip</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div style="background-color:white" id="signatureArea"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px; margin-left:-73px">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <button type="button" onclick="ClearSignature()" id="clearSignature" class="btn my-btn-white center middle text-black">@Resources.Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                @*<div class="col-sm-offset-3 col-sm-3">
                        <div class="form-group">
                            <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" name="command" onclick="event.preventDefault(); CancelConfirmation();" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                                <div class="border-content">@Resources.Cancel</div>
                            </button>
                        </div>
                    </div>*@
                <div class="col-sm-offset-6 col-sm-3">
                    <div class="form-group">
                        <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" onclick="return CheckSignature()" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                            <div class="border-content">@Resources.Next</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section jsScripts{
    window.onscroll = function () { window.scrollTo(0, 0); };
    $('body').addClass('stop-scrolling');
    $('body').bind('touchmove', function(e){e.preventDefault()});

    $('#signatureArea').jSignature();

    function ClearSignature() {
    $('#signatureArea').jSignature('reset');
    }

    function GetSignatureData(){
    var data = $('#signatureArea').jSignature("getData");
    return data;
    }

    function CheckSignature() {
    var fill = $('#signatureArea').jSignature('getData', 'native').length != 0;
    if (!fill) {
    bootbox.dialog({
    message: "<div class='col-sm-12'><div class='row'><h4>@Resources.NoSignatureMessage</h4></div></div>",
    title: '@Resources.AlertMessageTitle',
    buttons: {
    ok: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () { }
    }
    }});
    }

    return fill;
    }




}