﻿@model _5FootWay.Models.VerifyBillModel

@{
    ViewBag.Title = @Resources.VerifyBillTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.VerifyBillTitle</h2>
            </div>
            <div class="row">
                 @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height: 510px">
    @using (Ajax.BeginForm("VerifyBill", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
{
    <div class="box-body left middle" style=" padding-top: 30px; padding-bottom:30px;">
        <div class="col-sm-12">
            <div class="my-scroll-bar" style="overflow-y: auto; overflow-x: hidden; height: 300px">
                @if (Model.paymentList.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr class="grey-container div-header">
                                <th>
                                    <label class="form-label3">@Resources.SerialNumber</label>
                                </th>
                                <th>
                                    <label class="form-label3">@Resources.Description</label>
                                </th>
                                <th>
                                    <label class="form-label3">@Resources.Quantity</label>
                                </th>
                                <th>
                                    <label class="form-label3">@Resources.Price</label>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.paymentList.Count; i++)
                            {
                                <tr class="grey-container">
                                    <td class="left">
                                        <label class="form-label3">@Html.DisplayFor(CM => CM.paymentList[i].serialNumber)</label>
                                    </td>
                                    <td class="left">
                                        <label class="form-label3">@Html.DisplayFor(CM => CM.paymentList[i].description)</label>
                                    </td>
                                    <td class="right">
                                        <label class="form-label3">@Html.DisplayFor(CM => CM.paymentList[i].quantity)</label>
                                    </td>
                                    <td class="right">
                                        <label class="form-label3">@Html.DisplayFor(CM => CM.paymentList[i].price)</label>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="center middle" style="font-size: 30px; padding-top: 250px; padding-bottom: 215px">
                        <label class="form-label3 text-grey">@Resources.NoPayment</label>
                    </div>
                }
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-sm-offset-5 col-sm-4 left middle pull-left">
                            <label class="form-label3">@Resources.PaymentPaid</label>
                        </div>
                        <div class="col-sm-3 right middle pull-right">
                            <label class="form-label3">@Html.DisplayFor(CM => CM.paid)</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-offset-5 col-sm-4 left middle pull-left">
                            <label class="form-label3">@Resources.PaymentCharge</label>
                        </div>
                        <div class="col-sm-3 right middle pull-right">
                            <label class="form-label3">@Html.DisplayFor(CM => CM.charge)</label>
                        </div>
                    </div>
                    @if (Model.surcharge > 0) { 
                    <div class="row form-group">
                        <div class="col-sm-offset-5 col-sm-4 left middle pull-left">
                            <label class="form-label3">@Resources.PaymentSurcharge</label>
                        </div>
                        <div class="col-sm-3 right middle pull-right">
                            <label class="form-label">@Html.DisplayFor(CM => CM.surcharge)</label>
                        </div>
                    </div>
                    }
                    <div class="row form-group">
                        <div class="col-sm-offset-5 col-sm-4 left middle pull-left">
                            <label class="form-label3">@Resources.PaymentPayable</label>
                            <br />
                            <label class="form-label3">@Resources.PayByCreditCard</label>
                        </div>
                        <div class="col-sm-3 right middle pull-right">
                            <label class="form-label3">@Html.DisplayFor(CM => CM.payable)</label>
                        </div>
                    </div>
                    @if (Model.StopCollectDeposit == false)
                    { 
                        <div class="row form-group">
                            <div class="col-sm-offset-5 col-sm-4 left middle pull-left">
                                <label class="form-label3">@Resources.SecurityDeposit</label>
                                <br />
                                <label class="form-label3">@Resources.PayByCash</label>
                            </div>
                            <div class="col-sm-3 right middle pull-right">
                                <label class="form-label3">@Html.DisplayFor(CM => CM.securityDeposit)</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

        <div class="box-footer" style="padding-top:0px">
            <div class="col-sm-offset-3 col-sm-3">
                <div class="form-group">
                    <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                        <div class="border-content">@Resources.Back</div>
                    </button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                        <div class="border-content">@Resources.Next</div>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
}