﻿
@{
    ViewBag.Title = "MultiFaceIdentify";
}

<h2>MultiFaceIdentify</h2>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div id="vidStreamingContainer" class="image-box"></div>
    </div>
    <br/>
    <div class="col-sm-offset-1 col-sm-10">
        <button type="button"
                class="btn my-btn center middle text-cyan"
                style="width:100%" id="btnCapturePhoto"
                onclick="take_snapshot()">
            @Resources.TapToCapturePhoto
        </button>
    </div>
    <br />
    <br />
    <div class="col-sm-offset-1 col-sm-10">
        <div id="canvasContainer" class="image-box"></div>
    </div>
</div>

<script>
    var dataURL;

    function resize() {
        var height = $("#webcam_movie_embed").height();
        var width = $("#webcam_movie_embed").width()
        $("#vidStreamingContainer").height(height);
        $("#vidStreamingContainer").width(width);
        $("#canvasContainer").height(height);
        $("#canvasContainer").width(width);
    }

    Webcam.set({    
        height: 480,
        witdh: 600,   
        dest_width: 800,
        dest_height: 600,
        force_flash: true,
        image_format: 'jpg',
        jpeg_quality: 90,
        flip_horiz: true,
        fps: 60
    });

    Webcam.attach( 'vidStreamingContainer');

    Webcam.on( 'live', function(){
        resize();
    });

    function take_snapshot() {
        Webcam.snap( function(data_uri, canvas_data, context) {
            @*copy image to my own canvas*@
            var video = $("#webcam_movie_embed");            
            var container = $("#canvasContainer");
            
            while (container[0].firstChild) {
                container[0].removeChild(container[0].firstChild);
            }

            var e_canvas = document.createElement('canvas');
            e_canvas.id = "imageCanvas";
            e_canvas.style.position = "absolute";
            container[0].appendChild(e_canvas);
            
            var canvas = this.__canvas = new fabric.Canvas('imageCanvas', {
                renderOnAddRemove: false,
                selection: false,
                hoverCursor: 'default',
                width: container.width(),
                height: container.height()
            });
    
            canvas.clear();
            canvas.renderAll();

            fabric.Image.fromURL(data_uri, function(img) {
                var scale = Math.min(canvas.width / img.width, canvas.height / img.height);
                var offsetX = 1; @*Math.max((canvas.width - img.width * scale) / 2.0, 0);*@
                var offsetY = 1; @*Math.max((canvas.height - img.height * scale) / 2.0, 0);*@
                img.scale(scale);
                img.left = offsetX;
                img.top = offsetY;
                img.evented = false;
                canvas.add(img);
                img.sendToBack();
                canvas.renderAll();
            });

            dataURL = data_uri;

            if (typeof(window.external.DoneCapturePhoto) !== 'undefined') {
                window.external.DoneCapturePhoto(data_uri);
            }
        });
    }

    function DrawPoint(faceData){
        var container = $("#canvasContainer");

        if (container[0].firstChild) {            
            container[0].removeChild(container[0].firstChild);
        }

        if(dataURL) {
            var e_canvas = document.createElement('canvas');
            e_canvas.id = "imageCanvas";
            e_canvas.style.position = "absolute";
            container[0].appendChild(e_canvas);

            var canvas = this.__canvas = new fabric.Canvas('imageCanvas', {
                renderOnAddRemove: false,
                selection: false,
                hoverCursor: 'default',
                width: container.width(),
                height: container.height()
                });

            canvas.clear();
            canvas.renderAll();
            @*canvas.on("after:render", function() {
                canvas.calcOffset()
            });

            canvas.observe('mouse:over', function(e) {
                showImageTools(e.target);
            });

            canvas.observe('mouse:out', function(e) {
                $('#tooltipDialog').remove();
            });

            canvas.on('object:over', function(e) {
                observe.renderAll.bind(canvas);
            });*@

            fabric.Image.fromURL(dataURL, function(img) {
                var scale = Math.min(canvas.width / img.width, canvas.height / img.height);
                var offsetX = 1; @*Math.max((canvas.width - img.width * scale) / 2.0, 0);*@
                var offsetY = 1; @*Math.max((canvas.height - img.height * scale) / 2.0, 0);*@
                img.scale(scale);
                img.left = offsetX;
                img.top = offsetY;
                img.evented = false;
                canvas.add(img);
                
                var face = JSON.parse(faceData);

                for (var i = 0; i < face.length; i++) {                    
                    DrawFace(canvas, scale, offsetX, offsetY, face[i]);
                }

                img.sendToBack();
                canvas.renderAll();
            });
        }
    }

    var consts = {
        BETAFACE_FEATURE_FIRST: 256,
        BETAFACE_FEATURE_LAST: 5632,
        BETAFACE_FEATURE_PRO_CHIN_EARCONN_L: 65536,
        BETAFACE_FEATURE_PRO_CHIN_P1_L: 131072,
        BETAFACE_FEATURE_PRO_CHIN_P2_L: 196608,
        BETAFACE_FEATURE_PRO_CHIN_P3_L: 262144,
        BETAFACE_FEATURE_PRO_CHIN_P4_L: 327680,
        BETAFACE_FEATURE_PRO_CHIN_P5_L: 393216,
        BETAFACE_FEATURE_PRO_CHIN_B: 458752,
        BETAFACE_FEATURE_PRO_CHIN_P5_R: 524288,
        BETAFACE_FEATURE_PRO_CHIN_P4_R: 589824,
        BETAFACE_FEATURE_PRO_CHIN_P3_R: 655360,
        BETAFACE_FEATURE_PRO_CHIN_P2_R: 720896,
        BETAFACE_FEATURE_PRO_CHIN_P1_R: 786432,
        BETAFACE_FEATURE_PRO_CHIN_EARCONN_R: 851968,
        BETAFACE_FEATURE_PRO_TEMPLE_P4_R: 917504,
        BETAFACE_FEATURE_PRO_TEMPLE_P3_R: 983040,
        BETAFACE_FEATURE_PRO_TEMPLE_P2_R: 1048576,
        BETAFACE_FEATURE_PRO_TEMPLE_P1_R: 1114112,
        BETAFACE_FEATURE_PRO_TEMPLE_R: 1179648,
        BETAFACE_FEATURE_PRO_FOREHEAD_R: 1245184,
        BETAFACE_FEATURE_PRO_FOREHEAD_P4: 1310720,
        BETAFACE_FEATURE_PRO_FOREHEAD_P3: 1376256,
        BETAFACE_FEATURE_PRO_FOREHEAD_M: 1441792,
        BETAFACE_FEATURE_PRO_FOREHEAD_P2: 1507328,
        BETAFACE_FEATURE_PRO_FOREHEAD_P1: 1572864,
        BETAFACE_FEATURE_PRO_FOREHEAD_L: 1638400,
        BETAFACE_FEATURE_PRO_TEMPLE_L: 1703936,
        BETAFACE_FEATURE_PRO_TEMPLE_P1_L: 1769472,
        BETAFACE_FEATURE_PRO_TEMPLE_P2_L: 1835008,
        BETAFACE_FEATURE_PRO_TEMPLE_P3_L: 1900544,
        BETAFACE_FEATURE_PRO_TEMPLE_P4_L: 1966080,
        BETAFACE_FEATURE_PRO_EYE_O_R: 2031616,
        BETAFACE_FEATURE_PRO_EYE_BO_R: 2097152,
        BETAFACE_FEATURE_PRO_EYE_B_R: 2162688,
        BETAFACE_FEATURE_PRO_EYE_BI_R: 2228224,
        BETAFACE_FEATURE_PRO_EYE_I_R: 2293760,
        BETAFACE_FEATURE_PRO_EYE_TI_R: 2359296,
        BETAFACE_FEATURE_PRO_EYE_T_R: 2424832,
        BETAFACE_FEATURE_PRO_EYE_TO_R: 2490368,
        BETAFACE_FEATURE_PRO_EYE_O_L: 2555904,
        BETAFACE_FEATURE_PRO_EYE_TO_L: 2621440,
        BETAFACE_FEATURE_PRO_EYE_T_L: 2686976,
        BETAFACE_FEATURE_PRO_EYE_TI_L: 2752512,
        BETAFACE_FEATURE_PRO_EYE_I_L: 2818048,
        BETAFACE_FEATURE_PRO_EYE_BI_L: 2883584,
        BETAFACE_FEATURE_PRO_EYE_B_L: 2949120,
        BETAFACE_FEATURE_PRO_EYE_BO_L: 3014656,
        BETAFACE_FEATURE_PRO_EYEBROW_I_R: 3080192,
        BETAFACE_FEATURE_PRO_EYEBROW_TI_R: 3145728,
        BETAFACE_FEATURE_PRO_EYEBROW_T_R: 3211264,
        BETAFACE_FEATURE_PRO_EYEBROW_TO_R: 3276800,
        BETAFACE_FEATURE_PRO_EYEBROW_O_R: 3342336,
        BETAFACE_FEATURE_PRO_EYEBROW_BO_R: 3407872,
        BETAFACE_FEATURE_PRO_EYEBROW_B_R: 3473408,
        BETAFACE_FEATURE_PRO_EYEBROW_BI_R: 3538944,
        BETAFACE_FEATURE_PRO_EYEBROW_I_L: 3604480,
        BETAFACE_FEATURE_PRO_EYEBROW_TI_L: 3670016,
        BETAFACE_FEATURE_PRO_EYEBROW_T_L: 3735552,
        BETAFACE_FEATURE_PRO_EYEBROW_TO_L: 3801088,
        BETAFACE_FEATURE_PRO_EYEBROW_O_L: 3866624,
        BETAFACE_FEATURE_PRO_EYEBROW_BO_L: 3932160,
        BETAFACE_FEATURE_PRO_EYEBROW_B_L: 3997696,
        BETAFACE_FEATURE_PRO_EYEBROW_BI_L: 4063232,
        BETAFACE_FEATURE_PRO_MOUTH_L: 4128768,
        BETAFACE_FEATURE_PRO_MOUTH_TL: 4194304,
        BETAFACE_FEATURE_PRO_MOUTH_T: 4259840,
        BETAFACE_FEATURE_PRO_MOUTH_TR: 4325376,
        BETAFACE_FEATURE_PRO_MOUTH_R: 4390912,
        BETAFACE_FEATURE_PRO_MOUTH_BR: 4456448,
        BETAFACE_FEATURE_PRO_MOUTH_B: 4521984,
        BETAFACE_FEATURE_PRO_MOUTH_BL: 4587520,
        BETAFACE_FEATURE_PRO_NOSE_T_L: 4653056,
        BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_L: 4718592,
        BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_L: 4784128,
        BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_L: 4849664,
        BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_L: 4915200,
        BETAFACE_FEATURE_PRO_NOSE_B: 4980736,
        BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_R: 5046272,
        BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_R: 5111808,
        BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_R: 5177344,
        BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_R: 5242880,
        BETAFACE_FEATURE_PRO_NOSE_T_R: 5308416,
        BETAFACE_FEATURE_PRO_EYE_IRIS_R: 5373952,
        BETAFACE_FEATURE_PRO_EYE_IRIS_L: 5439488,
        BETAFACE_FEATURE_PRO_NOSE_TIP: 5505024,
        BETAFACE_FEATURE_PRO_CHEEKBONE_L: 5570560,
        BETAFACE_FEATURE_PRO_CHEEKBONE_R: 5636096,
        BETAFACE_FEATURE_PRO_NOSE_BRIDGE_T: 5701632,
        BETAFACE_FEATURE_PRO_NOSE_BRIDGE_M: 5767168,
        BETAFACE_FEATURE_PRO_NOSE_BRIDGE_B: 5832704,
        BETAFACE_FEATURE_PRO_MOUTH_TL_P1: 5898240,
        BETAFACE_FEATURE_PRO_MOUTH_BL_P1: 5963776,
        BETAFACE_FEATURE_PRO_MOUTH_BR_P1: 6029312,
        BETAFACE_FEATURE_PRO_MOUTH_TR_P1: 6094848,
        BETAFACE_FEATURE_PRO_MOUTH_I_L: 6160384,
        BETAFACE_FEATURE_PRO_MOUTH_I_BL: 6225920,
        BETAFACE_FEATURE_PRO_MOUTH_I_B: 6291456,
        BETAFACE_FEATURE_PRO_MOUTH_I_BR: 6356992,
        BETAFACE_FEATURE_PRO_MOUTH_I_R: 6422528,
        BETAFACE_FEATURE_PRO_MOUTH_I_TR: 6488064,
        BETAFACE_FEATURE_PRO_MOUTH_I_T: 6553600,
        BETAFACE_FEATURE_PRO_MOUTH_I_TL: 6619136
    };

    function DrawLine(canvas, scale, offsetX, offsetY, pts, ptid1, ptid2, face) {
        var pt_found = 0;
        var pt1x = 0.0,
            pt1y = 0.0,
            pt2x = 0.0,
            pt2y = 0.0;
        for (var k = 0; pts.length > k; k++) {
            var type = pts[k].type;
            if (type == ptid1 || type == ptid2) {
                var x = offsetX + (parseFloat(pts[k].positionX) * scale);
                var y = offsetY + (parseFloat(pts[k].positionY) * scale);
                if (type == ptid1) {
                    pt1x = x;
                    pt1y = y;
                } else {
                    pt2x = x;
                    pt2y = y;
                }
                pt_found++;
                if (2 == pt_found) {
                    canvas.add(new fabric.Line([pt1x, pt1y, pt2x, pt2y], {
                        fill: 'lightgreen',
                        stroke: 'lightgreen',
                        strokeWidth: 1,
                        selectable: false,
                        hasControls: false,
                        hasBorders: false,
                        lockMovementX: true,
                        lockMovementY: true,
                        evented: false
                    }));
                    break;
                }
            }
        }
    }
    
    function DrawFace(canvas, scale, offsetX, offsetY, face) {           
        var w = 1 * face.width * scale;
        var h = 1.15 * face.height * scale;
        var x = offsetX + (face.positionX * scale) - w / 2;
        var y = offsetY + (face.positionY * scale) - h / 2;
        var a = -face.angle;
        var rc = new fabric.Rect({
            top: y,
            left: x,
            width: w,
            height: h,
            angle: a,
            stroke: 'lightgreen',
            strokeWidth: 2,
            fill: 'transparent',
            selectable: false,
            hasControls: false,
            hasBorders: false,
            lockMovementX: true,
            lockMovementY: true
        });
        rc.evented = false;
        canvas.add(rc);

        var pts = face.points;

        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_EARCONN_L, consts.BETAFACE_FEATURE_PRO_CHIN_P1_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P1_L, consts.BETAFACE_FEATURE_PRO_CHIN_P2_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P2_L, consts.BETAFACE_FEATURE_PRO_CHIN_P3_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P3_L, consts.BETAFACE_FEATURE_PRO_CHIN_P4_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P4_L, consts.BETAFACE_FEATURE_PRO_CHIN_P5_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P5_L, consts.BETAFACE_FEATURE_PRO_CHIN_B, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_B, consts.BETAFACE_FEATURE_PRO_CHIN_P5_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P5_R, consts.BETAFACE_FEATURE_PRO_CHIN_P4_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P4_R, consts.BETAFACE_FEATURE_PRO_CHIN_P3_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P3_R, consts.BETAFACE_FEATURE_PRO_CHIN_P2_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P2_R, consts.BETAFACE_FEATURE_PRO_CHIN_P1_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_P1_R, consts.BETAFACE_FEATURE_PRO_CHIN_EARCONN_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_EARCONN_L, consts.BETAFACE_FEATURE_PRO_TEMPLE_P4_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_CHIN_EARCONN_R, consts.BETAFACE_FEATURE_PRO_TEMPLE_P4_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_P4_L, consts.BETAFACE_FEATURE_PRO_TEMPLE_P3_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_P3_L, consts.BETAFACE_FEATURE_PRO_TEMPLE_P2_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_P2_L, consts.BETAFACE_FEATURE_PRO_TEMPLE_P1_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_P1_L, consts.BETAFACE_FEATURE_PRO_TEMPLE_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_L, consts.BETAFACE_FEATURE_PRO_FOREHEAD_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_FOREHEAD_L, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P1, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P1, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P2, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P2, consts.BETAFACE_FEATURE_PRO_FOREHEAD_M, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_FOREHEAD_M, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P3, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P3, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P4, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_FOREHEAD_P4, consts.BETAFACE_FEATURE_PRO_FOREHEAD_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_FOREHEAD_R, consts.BETAFACE_FEATURE_PRO_TEMPLE_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_R, consts.BETAFACE_FEATURE_PRO_TEMPLE_P1_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_P1_R, consts.BETAFACE_FEATURE_PRO_TEMPLE_P2_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_P2_R, consts.BETAFACE_FEATURE_PRO_TEMPLE_P3_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_TEMPLE_P3_R, consts.BETAFACE_FEATURE_PRO_TEMPLE_P4_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_O_R, consts.BETAFACE_FEATURE_PRO_EYE_BO_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_BO_R, consts.BETAFACE_FEATURE_PRO_EYE_B_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_B_R, consts.BETAFACE_FEATURE_PRO_EYE_BI_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_BI_R, consts.BETAFACE_FEATURE_PRO_EYE_I_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_I_R, consts.BETAFACE_FEATURE_PRO_EYE_TI_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_TI_R, consts.BETAFACE_FEATURE_PRO_EYE_T_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_T_R, consts.BETAFACE_FEATURE_PRO_EYE_TO_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_TO_R, consts.BETAFACE_FEATURE_PRO_EYE_O_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_O_L, consts.BETAFACE_FEATURE_PRO_EYE_TO_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_TO_L, consts.BETAFACE_FEATURE_PRO_EYE_T_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_T_L, consts.BETAFACE_FEATURE_PRO_EYE_TI_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_TI_L, consts.BETAFACE_FEATURE_PRO_EYE_I_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_I_L, consts.BETAFACE_FEATURE_PRO_EYE_BI_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_BI_L, consts.BETAFACE_FEATURE_PRO_EYE_B_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_B_L, consts.BETAFACE_FEATURE_PRO_EYE_BO_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYE_BO_L, consts.BETAFACE_FEATURE_PRO_EYE_O_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_I_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_TI_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_TI_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_T_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_T_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_TO_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_TO_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_O_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_O_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_BO_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_BO_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_B_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_B_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_BI_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_BI_R, consts.BETAFACE_FEATURE_PRO_EYEBROW_I_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_I_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_TI_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_TI_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_T_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_T_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_TO_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_TO_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_O_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_O_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_BO_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_BO_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_B_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_B_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_BI_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_EYEBROW_BI_L, consts.BETAFACE_FEATURE_PRO_EYEBROW_I_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_L, consts.BETAFACE_FEATURE_PRO_MOUTH_TL_P1, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_TL_P1, consts.BETAFACE_FEATURE_PRO_MOUTH_TL, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_TL, consts.BETAFACE_FEATURE_PRO_MOUTH_T, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_T, consts.BETAFACE_FEATURE_PRO_MOUTH_TR, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_TR, consts.BETAFACE_FEATURE_PRO_MOUTH_TR_P1, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_TR_P1, consts.BETAFACE_FEATURE_PRO_MOUTH_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_R, consts.BETAFACE_FEATURE_PRO_MOUTH_BR_P1, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_BR_P1, consts.BETAFACE_FEATURE_PRO_MOUTH_BR, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_BR, consts.BETAFACE_FEATURE_PRO_MOUTH_B, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_B, consts.BETAFACE_FEATURE_PRO_MOUTH_BL, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_BL, consts.BETAFACE_FEATURE_PRO_MOUTH_BL_P1, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_BL_P1, consts.BETAFACE_FEATURE_PRO_MOUTH_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_L, consts.BETAFACE_FEATURE_PRO_MOUTH_I_BL, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_BL, consts.BETAFACE_FEATURE_PRO_MOUTH_I_B, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_B, consts.BETAFACE_FEATURE_PRO_MOUTH_I_BR, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_BR, consts.BETAFACE_FEATURE_PRO_MOUTH_I_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_R, consts.BETAFACE_FEATURE_PRO_MOUTH_I_TR, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_TR, consts.BETAFACE_FEATURE_PRO_MOUTH_I_T, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_T, consts.BETAFACE_FEATURE_PRO_MOUTH_I_TL, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_MOUTH_I_TL, consts.BETAFACE_FEATURE_PRO_MOUTH_I_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_T_L, consts.BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_L, consts.BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_L, consts.BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_L, consts.BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_L, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_L, consts.BETAFACE_FEATURE_PRO_NOSE_B, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_B, consts.BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_B_NOSTRIL_R, consts.BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_BO_NOSTRIL_R, consts.BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_TO_NOSTRIL_R, consts.BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_TI_NOSTRIL_R, consts.BETAFACE_FEATURE_PRO_NOSE_T_R, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_BRIDGE_T, consts.BETAFACE_FEATURE_PRO_NOSE_BRIDGE_M, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_BRIDGE_M, consts.BETAFACE_FEATURE_PRO_NOSE_BRIDGE_B, face);
        DrawLine(canvas, scale, offsetX, offsetY, pts, consts.BETAFACE_FEATURE_PRO_NOSE_BRIDGE_B, consts.BETAFACE_FEATURE_PRO_NOSE_TIP, face);

        for (var k = 0; pts.length > k; k++) {
            var rad = 1.0;
            var type = pts[k].type;
            var x = offsetX + (parseFloat(pts[k].positionX) * scale) - rad;
            var y = offsetY + (parseFloat(pts[k].positionY) * scale) - rad;
            var name = pts[k].pointName;
            var cl = (type >= consts.BETAFACE_FEATURE_FIRST && consts.BETAFACE_FEATURE_LAST >= type) ? 'white' : 'red';
            canvas.add(new fabric.Circle({
                top: y,
                left: x,
                radius: rad,
                fill: cl,
                selectable: false,
                hasControls: false,
                hasBorders: false,
                lockMovementX: true,
                lockMovementY: true,
                tooltip: name
            }));
        }
    }    
</script>