﻿@model SharedBusinessEntity.CheckInSubHeader

@{
    Layout = null;
}

<div>
    <div class="col-sm-3 no-padding no-margin">
        <div class="form-group no-margin">
            <label class="text-black div-header no-border form-control" for="@Model.checkInDate">@Resources.CheckInDate</label>
            <label class="text-white div-content no-border form-control">@Html.DisplayFor(CM => CM.checkInDate)</label>
        </div>
    </div>
    <div class="col-sm-3 no-padding no-margin">
        <div class=" form-group no-margin">
            <label class="text-black div-header no-border form-control" for="@Model.checkInDate">@Resources.CheckOutDate</label>
            <label class="text-white div-content no-border form-control">@Html.DisplayFor(CM => CM.checkOutDate)</label>
    </div>
    </div>
    <div class="col-sm-3 no-padding no-margin">
        <div class="form-group no-margin">
            <label class="text-black div-header no-border form-control" for="@Model.checkInDate">@Resources.BookingId</label>
            <label class="text-white div-content no-border form-control">@Html.DisplayFor(CM => CM.bookingId)</label>
        </div>
    </div>
    <div class="col-sm-3 no-padding no-margin">
        <div class="form-group no-margin">
            <label class="text-black div-header no-border form-control" for="@Model.checkInDate">@Resources.BookingDate</label>
            <label class="text-white form-control no-border div-content">@Html.DisplayFor(CM => CM.bookingDate)</label>
        </div>
    </div>
</div>