﻿@model _5FootWay.Models.ProgressBarModel

@{
    Layout = null;
}

<link href="~/Content/CheckOutProgressBar.css" rel="stylesheet">

<div class="checkout-wrap" style="margin-left:160px">
    <ul class="checkout-bar">
        <li class="@Model.stepList[0]">@Resources.CheckoutBar</li>
        <li class="@Model.stepList[1]">@Resources.ReturnCardBar</li>
        <li class="@Model.stepList[2]">@Resources.RefundDepositBar</li>
        <li class="@Model.stepList[3]@(String.IsNullOrEmpty(@Model.stepList[3])?"":" ")last">@Resources.CompleteBar</li>
    </ul>
</div>
