﻿<!DOCTYPE html>
<html lang="@Helper.CultureHelper.GetCurrentNeutralCulture()" dir="@(Helper.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta name="HandheldFriendly" content="true" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.1, minimum-scale=1.1, maximum-scale=1.1, user-scalable=no">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    @*<link href="~/Content/jquery-ui.css" rel="stylesheet">*@
    <link href="~/Content/adminLTE.css" rel="stylesheet" />
    <link href="~/Content/futurico.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/NewUI.css" rel="stylesheet" />
    <link href="~/Content/keyboard/keyboard.css" rel="stylesheet" />
    <link href="~/Content/ScrollableTable.css" rel="stylesheet" />

    <link href="~/Content/iconFont.css" rel="stylesheet" />
    <link href="~/fonts/AvantGarde Md BT.ttf" rel="stylesheet" />
    
    @*<link href="~/Content/docs.css" rel="stylesheet">*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/keyboard/jquery.keyboard.js"></script>
    <script src="~/Scripts/icheck.min.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/jquery.scrollTableBody-1.0.0.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/webcam/webcam.min.js"></script>
    <script src="~/Scripts/jSignature/jSignature.min.js"></script>
    <script src="~/Scripts/fabric.min.js"></script>
    @RenderSection("ReferenceFile", required: false)

    <title>@ViewBag.Title - Kiosk</title>
</head>
<body class="my-body">
    <div id="Logo" class="logo row col-sm-9">
        @*<img id="LogoImg" src="~/images/PermImage/transparentLogo.gif" class="img-responsive col-sm-3" />*@
        <img class="img-responsive col-sm-12" style="padding-left:15px;" id="LogoImg" src="~/images/PermImage/5FootwayInn_logo_800x255.jpg" />

    </div>

    <div id="Kiosk_title" class= "row col-sm-12">
        <label id="lblkiosk" class="title text-white">SELF CHECK IN KIOSK</label>
    </div>

    <div id="messagePanel" class="row col-sm-12" style="margin-top:-10px;margin-left:5px">
        <div id="divCheckMachine" class="left middle ">
            @*<div class="col-sm-1">
                    <img id="imgStatus" src="" class="hide padding-5" style="height:50px" />
                </div>*@
            <div id="buttonPanel" class="hide col-sm-1">
                <button id="reloadMachine" type="button" class="btn my-btn-white text-black" style="font-size:13pt;font-weight:bold" onclick="ReloadMachine();">@Resources.ReloadMachine</button>
            </div>
            <div class="col-sm-10">
                <label id="lblCheckMachine" class="text-grey form-label" style="margin-top:5px;font-size:15pt;">-</label>
            </div>

        </div>
    </div>
        <div class="row">
            <div id="Container" class="col-sm-12 my-container">
                @RenderBody()
            </div>
            <div id="Loading" class="loading">
                <div id="loadingImageDiv" class="loading-image-container" style="margin-top:-20px" >
                    @foreach (string path in new Helper.ConstantVariable_ImageFolder(
                    HttpContext.Current.Server.MapPath(
                    Helper.ConstantVariable_Web.loadingImageFolderPath)).imageList)
                    {
                        @*<img class="img-responsive loadingImg w3-animate-fading" src="@path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], @"/").Replace("\\","/")" />*@
                         <img class="img-responsive loadingImg" src="@path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], @"/").Replace("\\","/")" />
                    }

                </div>
                <div id="loadingProgressImage" class="loading-image"></div>
            </div>
        </div>
        @*<div id="Footer" style="width:100%;height:5%">

            </div>*@

        <script type="text/javascript">
                @RenderSection("jsScripts", required: false)

    $(window).resize(function () {
        $('.centerV').css({
            position: 'absolute',
            left: ($(window).width() - $('.centerV').outerWidth()) / 2,
            top: ($(window).height() - $('.centerV').outerHeight()) / 2
        });

        @RenderSection("jsResize", required: false)
    });

    $(document).ready(function () {
        // To initially run the function:

        $('.datepicker').datepicker();
        $(window).resize();

        
        var msg = '@ViewBag.Message';
        if (msg !== "") {
            if (msg === '@Helper.RouteErrorMessage.missingData') {
                msg = '@Resources.MissingData';
            } else if (msg === '@Helper.RouteErrorMessage.serverFailed') {
                msg = '@Resources.ServerFailed';
                if (typeof (window.external.UpdateMachineStatus) !== 'undefined') {
                    window.external.UpdateMachineStatus(false);
                }
            }

            bootbox.dialog({
                message: "<div class='col-sm-12'>" +
                "<div class='row'><h4>" + msg + "</h4></div>" +
            "</div>",
                title: "@Resources.ErrorMessageTitle",
                buttons: {
                    ok: {
                        label: "@Resources.OK",
                        className: "btn-success dialog-btn",
                        callback: function () {
                        }
                    }
                }
            });
        }

        @RenderSection("jsOnLoad", required: false)

    });

    $('.qwerty')
        .keyboard({
            layout: 'mobile',
            enterNavigation: true,
            autoAccept: true,
            caretToEnd: true,
            css: {
                // input & preview
                // "label-default" for a darker background
                // "light" for white text
                input: 'form-control input-sm',
                // keyboard container
                container: 'center-block well',
                // default state
                //buttonDefault: 'btn-default',
                // hovered button
                //buttonHover: 'btn-default',
                // Action keys (e.g. Accept, Cancel, Tab, etc);
                // this replaces "actionClass" option
                //buttonAction: 'active',
                // used when disabling the decimal button {dec}
                // when a decimal exists in the input area
                buttonDisabled: 'disabled'
            }
        });

    $('.qwerty-mail')
        .keyboard({
            layout: 'mail',
            enterNavigation: true,
            autoAccept: true,
            caretToEnd: true,
            css: {
                // input & preview
                // "label-default" for a darker background
                // "light" for white text
                input: 'form-control input-sm',
                // keyboard container
                container: 'center-block well',
                // default state
                //buttonDefault: 'btn-default',
                // hovered button
                //buttonHover: 'btn-default',
                // Action keys (e.g. Accept, Cancel, Tab, etc);
                // this replaces "actionClass" option
                //buttonAction: 'active',
                // used when disabling the decimal button {dec}
                // when a decimal exists in the input area
                buttonDisabled: 'disabled'
            }
        });

    $('.numericWithBracket')
        .keyboard({
            layout: 'contactNumber',
            enterNavigation: true,
            autoAccept: true,
            caretToEnd: true,
            css: {
                // input & preview
                // "label-default" for a darker background
                // "light" for white text
                input: 'form-control input-sm',
                // keyboard container
                container: 'center-block well',
                // default state
                //buttonDefault: 'btn-default',
                // hovered button
                //buttonHover: 'btn-default',
                // Action keys (e.g. Accept, Cancel, Tab, etc);
                // this replaces "actionClass" option
                //buttonAction: 'active',
                // used when disabling the decimal button {dec}
                // when a decimal exists in the input area
                buttonDisabled: 'disabled'
            }
        });

    $('.numeric')
        .keyboard({
            layout: 'postalCode',
            enterNavigation: true,
            autoAccept: true,
            caretToEnd: true,
            css: {
                // input & preview
                // "label-default" for a darker background
                // "light" for white text
                input: 'form-control input-sm',
                // keyboard container
                container: 'center-block well',
                // default state
                //buttonDefault: 'btn-default',
                // hovered button
                //buttonHover: 'btn-default',
                // Action keys (e.g. Accept, Cancel, Tab, etc);
                // this replaces "actionClass" option
                //buttonAction: 'active',
                // used when disabling the decimal button {dec}
                // when a decimal exists in the input area
                buttonDisabled: 'disabled'
            }
        });

    var startedLoading = false;

    function startLoading() {
        if (!startedLoading) {
            clearLoadingTimer();
            loadingSlide();
            //setupLoadingText();
            $('#Loading').fadeIn("fast");
            startedLoading = true;
        }
    }

    function doneLoading() {
        if (startedLoading) {
            clearLoadingTimer();
            var spinner = $('#Loading');
            spinner.stop();
            spinner.fadeOut("fast");
            startedLoading = false;
        }
    }

    function clearLoadingTimer() {
        if (loadingTimer != null) {
            window.clearTimeout(loadingTimer);
            loadingTimer = null;
        }

        //if (messageInterval != null) {
        //    window.clearInterval(messageInterval);
        //    messageInterval = null;
        //}
    }

    var loadingTimer = null;
    var messageInterval = null;
    var opacityValue = 0.1;
    var increase = true;
    var slideIndex = 0;

    function setupLoadingText() {
        messageInterval = window.setInterval(updateLoadingText, 100);
    }

    function updateLoadingText() {
        var text = $("#loadingMessage").text();

        if (opacityValue >= 1) {
            increase = false;
        } else if (opacityValue <= 0) {
            increase = true;
        }

        $("#loadingMessage").css('opacity', opacityValue);

        if (opacityValue >= 0.2 && opacityValue <= 0.3 && increase) {
            if ((text.match(new RegExp("\\.", "g")) || []).length == 6) {
                text = text.replace('......', '');
            } else {
                text += '.';
            }

            $("#loadingMessage").text(text);
        }

        if (increase) {
            opacityValue += 0.1;
        } else {
            opacityValue -= 0.1;
        }
    }

    function loadingSlide() {
        var i;
        var x = document.getElementsByClassName("loadingImg");

        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        slideIndex++;

        if (x.length > 0) {
            if (slideIndex > x.length) {
                slideIndex = 1;
            }

            x[slideIndex - 1].style.display = "block";

            loadingTimer = setTimeout(loadingSlide, parseInt('@Helper.ConstantVariable_Web.slideShowDuraction')); // Change image every 2 seconds
        }
    }

    function errorMessage(message, redirect, redirectUrl) {
        if (typeof (message) === "undefined"
            || message === "") message = '@Resources.ErrorMessage';

        bootbox.dialog({
            message: "<div class='col-sm-12'>" +
            "<div class='row'><h4>" + message + "</h4></div>" +
            "</div>",
            title: "@Resources.ErrorMessageTitle",
            closeButton: (!redirect),
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                        if (redirect) {
                            if (typeof (window.external.AllowNavigation) !== 'undefined') {
                                window.external.AllowNavigation(true);
                            }

                            if (redirectUrl !== "" && redirectUrl !== "undefined") {
                                location.href = redirectUrl;
                            } else {
                                var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]';
                                if (controller === "CheckIn"
                                    || controller === "CheckOut") {
                                    location.href = '@Url.Action(HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "Incomplete", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())';
                                } else {
                                    location.href = '@Url.Action("Index", "Home")';
                                }
                            }
                        }
                    }
                }
            }
        });
    }

    function hideErrorMessage() {
        $('div.bootbox.modal').modal('hide');
    }

    var sessionTimer = null;
    var updateRemainingTimer = null;
    var timeRemaining;

    function timeoutTimer(second, showConfirm) {
        updateRemainingTimer = window.setTimeout(function () { timeoutExtendConfirmation(showConfirm); }, second, null);
    }

    function sessionExpireTimer(second) {
        sessionTimer = window.setTimeout(sessionExpiredAlert, second, null);
    }

    function sessionExpiredAlert() {
        clearTimer();

        $('.modal').modal('hide');

        bootbox.dialog({
            message: "<div class='col-sm-12'>" +
            "<div class='row'><h4>@Resources.SessionTimeout</h4></div>" +
        "</div>",
            title: "@Resources.ErrorMessageTitle",
            closeButton: false,
            buttons: {
                ok: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }

                        if (typeof (window.external.CancelProcess) !== 'undefined') {
                            window.external.CancelProcess(true);
                        }

                        location.href = '@Url.Action("Index", "Home")';
                    }
                }
            }
        });
    }

    function timeoutExtendConfirmation(showConfirm) {
        if (showConfirm) {
            bootbox.dialog({
                message: "<div class='col-sm-12'>" +
                "<div class='row'><h4>@Resources.SessionExtendMessage1"
                + "<div id='timeRemaining' style='display:inline-block'>" + (timeRemaining / 1000) + "</div>"
                + "@Resources.SessionExtendMessage2</h4></div></div>",
                title: "@Resources.SessionExtendTitle",
                buttons: {
                    retry: {
                        label: "@Resources.Extend",
                        className: "btn-success dialog-btn",
                        callback: function () {
                            getExpireDate(true);
                        }
                    },
                    cancel: {
                        label: "@Resources.Cancel",
                        className: "btn-danger dialog-btn",
                        callback: function () {
                            for (var i = 1; i < 3; i++) {
                                secondReminder = (parseInt('@(Helper.ConstantVariable_Web.timeoutThreehold * 60000)') / (i * 2)) - timeRemaining;

                                        if (secondReminder > 0) {
                                            timeoutTimer(secondReminder, showConfirm);

                                            break;
                                        }
                                    }
                                }
                            }
                        }
                    });

                    updateRemainingTimer = window.setInterval(updateTimeRemaining, 1000, null);
                } else {
                    getExpireDate(false);
                }
            }

            function updateTimeRemaining() {
                timeRemaining = timeRemaining - (1 * 1000);
                $("#timeRemaining").text(timeRemaining / 1000);
            }

            function getExpireDate(setTimer) {
                //startLoading();
                clearTimer();

                try {
                    if (typeof (window.external.RefreshSessionLifetime) !== 'undefined') {
                        window.external.RefreshSessionLifetime(setTimer, "@Url.Action("refreshSession", "Base")");
                    } else {
                        $.ajax({
                            url: "@Url.Action("refreshSession", "Base")",
                            success: function (data) {
                                ExtendSessionSuccess(setTimer, data);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                if (typeof (window.external.LogException) !== 'undefined') {
                                    window.external.LogException(thrownError);
                                }

                                errorMessage("@Resources.SessionExtendError", true, "");
                            }
                        });
                    }
                } catch (err) {
                    errorMessage(err, true, "");
                }
            }

            function ExtendSessionSuccess(setTimer, data) {
                if (data != null) {
                    var expiredDate = new Date(data);
                    var second = (expiredDate.getTime() - new Date().getTime()) - (5 * 1000);

                    if (second > 0) {
                        timeRemaining = parseInt('@(Helper.ConstantVariable_Web.timeoutThreehold * 60000)');
                var timeToShowExtend = second - timeRemaining;

                if (timeToShowExtend > 0) {
                    timeoutTimer(timeToShowExtend, setTimer);

                    if (setTimer) {
                        sessionExpireTimer(second, setTimer);
                    }
                } else {
                    timeRemaining = second;
                    timeoutExtendConfirmation(setTimer);
                }
            } else {
                sessionExpiredAlert();
            }
        } else {
            sessionExpiredAlert();
        }

        //doneLoading();
    }

    function clearTimer() {
        try {
            window.clearTimeout(sessionTimer);
        } catch (err) {

        }
        try {
            window.clearInterval(updateRemainingTimer);
        } catch (err) {

        }
    }

    function disableSelection() {
        document.body.onselectstart = function () {
            return false;
        };

        document.body.ondragstart = function () {
            return false;
        };
    }

    function CancelConfirmation() {
        bootbox.dialog({
            message: "<div class='col-sm-12'><div class='row'><h4>@Resources.CancelConfirmationMessage</h4></div></div>",
            title: "@Resources.CancelConfirmationTitle",
            buttons: {
                retry: {
                    label: "@Resources.OK",
                    className: "btn-success dialog-btn",
                    callback: function () {
                        if (typeof (window.external.AllowNavigation) !== 'undefined') {
                            window.external.AllowNavigation(true);
                        }

                        $('form#form0').submit();
                    }
                },
                cancel: {
                    label: "@Resources.Cancel",
                    className: "btn-danger dialog-btn",
                    callback: function () {
                    }
                }
            }
        });
    }

    function SwitchClass(target, classToRemoveList, classToAddList) {
        var classToRemove = classToRemoveList.split(" ");

        for (var j = 0; j < classToRemove.length; j++) {
            if (target.hasClass(classToRemove[j])) {
                target.removeClass(classToRemove[j]);
            }
        }

        var classToAdd = classToAddList.split(" ");

        for (var j = 0; j < classToAdd.length; j++) {
            if (!target.hasClass(classToAdd[j])) {
                target.addClass(classToAdd[j]);
            }
        }
    }
        </script>
</body>
</html>