﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ReferenceFile{
    @RenderSection("ReferenceFile", required: false)
}

<div class="row">
    <div id="topPanel" class="col-sm-12 header center middle">
        @RenderSection("header", false)
    </div>
</div>

<div class="row">@*style="padding-bottom: 20px; padding-top:10px">*@
    <div id="middlePanel" class="col-sm-12 sub-header center middle" >
        @RenderSection("subHeader", false)
    </div>
</div>

<div class="row">
    <div id="contentPanel" class="col-sm-12 content contain-panel center middle">
        @RenderSection("content", true)
    </div>
</div>

@section jsScripts{
    @RenderSection("jsScripts", false)

    getExpireDate(true);
}

@section jsOnLoad{
    @RenderSection("jsOnLoad", false)
}

@section jsResize{
    @RenderSection("jsResize", required: false)
}