﻿@{
    ViewBag.Title = @Resources.Home;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

}

@section ReferenceFile{
    <link href="~/Content/w3css.css" rel="stylesheet">
    <link href="~/Content/NewUI.css" rel="stylesheet">
}

<div id="formItem" class="box">
    @using (Ajax.BeginForm("Index", null, new AjaxOptions
            {
                UpdateTargetId = "formItem",
                OnFailure = "AjaxFailure"
            }, new { role = "form" }
        )
    )
    {
       <div style=""></div>
           @*<div class="row" style="padding-bottom: 10px">
        <div class="col-sm-3">
            <div class="col-sm-12 padding-5">
                <button id="btnExit" class="btn my-btn center middle text-cyan" type="button">@Resources.Exit</button>
            </div>
        </div>
        <div class="col-sm-offset-5 col-sm-2">
            <div class="col-sm-12 padding-5" style="margin-top:10px">
               <label id="lbLanguage" class="left middle text-black form-label">@Resources.Language</label>
            </div>
        </div>

    </div>*@

            <div class="row contain-panel">
                <div class="col-sm-12">
                    <div id="home">
                        <div class="row" style="background-color: black;">
                            <div class="col-sm-12 center bottom">
                                
                                <div class="row">
                                    <div class="col-sm-12 center middle">
                                        <div id="home" class="row center middle">
                                            <div id="home" class="col-sm-12 homeImgSize">
                                                @foreach (string path in new Helper.ConstantVariable_ImageFolder(
                                                HttpContext.Current.Server.MapPath(
                                                Helper.ConstantVariable_Web.homeImageFolderPath)).imageList)
                                                {
                                                    @* <img class="img-responsive homeImg w3-animate-fading" src="@path.Replace(Request.ServerVariables["appl_physical_path"], "/" ).Replace("\\", "/" )" />*@
                                                    <img class="img-responsive homeImg" style="padding-right:15px" src="@path.Replace(Request.ServerVariables["appl_physical_path"], "/" ).Replace("\\", "/" )"/>
                                                }
                                                
                                        </div>
                                    </div>

                                </div>
                                
             
                                    <div class="col-sm-12" style="">
                                    @if (Helper.ConstantVariable_Web.enableCheckout == false)
                                    {
                                        <div class="col-sm-1" style="margin-left:45px"></div>
                                    }
                                    <div class=" col-sm-3 center bottom">
                                        <div class="form-group">
                                            <button id="btnCheckIn" disabled class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.HomeController.HomeCommand.checkIn">
                                                @*<div class="border border-green" style="padding-top: 15px; padding-bottom: 15px">*@
                                                <div class="border-content">@Resources.CheckIn</div>
                                                @*</div>*@
                                            </button>
                                            @*<button id="btnCheckIn" style="height:100px" class="btn my-btn center middle text-green" name="command" value="@_5FootWay.Controllers.HomeController.HomeCommand.checkIn">@Resources.CheckIn</button>*@
                                        </div>
                                    </div>
                                    @if(Helper.ConstantVariable_Web.enableCheckout == true )
                                    {
                                        <div class=" col-sm-3 center bottom">
                                            <div class="form-group">

                                                <button id="btnCheckOut" disabled class="btn my-btn-grey large-button-style center middle text-white" name="command" value="@_5FootWay.Controllers.HomeController.HomeCommand.checkOut">
                                                    @*<div class="border border-red" style="padding-top: 15px; padding-bottom: 15px; ">*@
                                                    <div class="border-content">@Resources.CheckOut</div>
                                                    @*</div>*@
                                                </button>

                                                @*<button id="btnCheckOut" style="height:100px" class="btn my-btn center middle text-red" name="command" value="@_5FootWay.Controllers.HomeController.HomeCommand.checkOut">@Resources.CheckOut</button>*@
                                            </div>
                                            @*<div class="col-sm-5">*@

                                        </div>
                                    }
                                    <div class=" col-sm-3 center bottom">
                                        <div class="form-group">
                                            <button disabled class="btn my-btn-white large-button-style center middle text-black languageOpt" onclick="changeLanguage()" name="command" value="id">
                                                <div id="buttonName" class="border-content">@Resources.LanguageType</div>
                                            </button>
                                            @*<div class="col-sm-4 padding-5">
                                                    <button class="btn my-btn center middle text-cyan" disabled type="button" onclick="changeLanguage('en')" name="command" value="en">EN</button>
                                                </div>
                                                <div class="col-sm-4 padding-5">
                                                    <button class="btn my-btn center middle text-cyan" disabled type="button" onclick="changeLanguage('zh')" name="command" value="zh">中文</button>
                                                </div>
                                                <div class="col-sm-4 padding-5">
                                                    <button class="btn my-btn center middle text-cyan" disabled type="button" onclick="changeLanguage('id')" name="command" value="id">ID</button>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class=" col-sm-3 center bottom">
                                        <div class="form-group">
                                            <button id="ExitBtn" class="btn my-btn-grey large-button-style center middle text-white" name="" value="">
                                                <div class="border-content">@Resources.Exit</div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section jsScripts{
    function ChangeButtonStatus(status)
    {
        var btnList = document.getElementsByName("command");

        $.each(btnList, function(index, item){
            item.disabled = !status;
        });
    }

    var slideIndex = 0;
    homeSlide();

    function homeSlide() {
        var i;
        var x = document.getElementsByClassName("homeImg");

        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        slideIndex++;

        if (x.length > 0) {
            if (slideIndex > x.length) {
                slideIndex = 1;
            }

            x[slideIndex - 1].style.display = "block";

            loadingTimer = setTimeout(homeSlide, parseInt('@Helper.ConstantVariable_Web.slideShowDuraction')); // Change image every 2 seconds
        }
    }


    function changeLanguage() {
        
        var target = $("#buttonName");
        var language='["en","zh","id"]';
        var culture = JSON.parse(language);
        var urlAction = "@Url.Action("SetCulture", "Home")";
    

        if("@culture" == "id")
        {
            $.ajax({
            url: urlAction,
            data: {
            newCulture: culture[0]
            },
            success: function (data) {
            location.href = data;
            }
            });   
        }
        else if("@culture" == "en")
        {
     
            $.ajax({
            url: urlAction,
            data: {
            newCulture: culture[1]
            },
            success: function (data) {
            location.href = data;
            }
            });
        }
        else if("@culture" == "zh")
        {
            $.ajax({
            url: urlAction,
            data: {
            newCulture: culture[2]
            },
            success: function (data) {
            location.href = data;
            }
            });
        }

    }
       


    function checkCashNoteFailed()
    {
        var message = "";
        
        message = '@Resources.CashNoteQtyError';

        bootbox.dialog({
        message: "<div class='col-sm-12'><div class='row'><h4>" + message + "</h4></div></div>",
        title: '@Resources.AlertMessageTitle',
        buttons: {
        ok: {
        label: "@Resources.OK",
        className: "btn-success dialog-btn",
        callback: function () {
        }
        }
        }
        });
    }


    function updateMachineStatus(step)
    {
    debugger;
   
        var target = $("#lblCheckMachine");
    
        if(step > 0){
            SwitchClass($("#lblCheckMachine"), "text-grey text-green text-red", "text-orange");
        }

        if(step == 1){            
            target.text("@Resources.CheckPrinter");
        }else if(step == 2){            
            target.text("@Resources.CheckFaceRecognition");
        }else if(step == 3){            
            target.text("@Resources.CheckCreditCardReader");
        }else if(step == 4){
            target.text("@Resources.CheckCashAcceptor");
        }else if(step == 5){
            target.text("@Resources.CheckDocumentReader");
        }else if(step == 6){
            target.text("@Resources.CheckCardAcceptor");
        }else if(step == 7){
            target.text("@Resources.CheckCardReader");
        }else if(step == 8){
            target.text("@Resources.RetriveKioskData");
        }else if(step == 9){
            target.text("@Resources.CheckLocalServer");
        }else if(step == 10){
            target.text("@Resources.CheckBarcodeScanner");
        }else if(step == 0){
            target.text("@Resources.CheckMachineDone");


            SwitchClass(target, "text-grey text-orange text-red", "text-green");
            if($("#imgStatus").hasClass("hide"))
            {
                $("#imgStatus").removeClass("hide");
            }
            $("#imgStatus").attr("src", "/images/PermImage/green-tick.gif");

            ChangeButtonStatus(true);
        }else if(step == -1){
            target.text("@Resources.CheckMachineFailed");
            SwitchClass(target, "text-grey text-green text-orange", "text-red");

            if($("#buttonPanel").hasClass("hide")) {
                $("#buttonPanel").removeClass("hide");
            }

            if($("#imgStatus").hasClass("hide")) {
                $("#imgStatus").removeClass("hide");
            }
            $("#imgStatus").attr("src", "/images/PermImage/red-cross.gif");

            ChangeButtonStatus(false);
        }
    }

    function ReloadMachine(){
    debugger;
        if(!$("#buttonPanel").hasClass("hide")){
            $("#buttonPanel").addClass("hide");
        }

        ChangeButtonStatus(false);
        hideErrorMessage();

        if (typeof(window.external.LoadMachineHardware) !== 'undefined') {
            SwitchClass($("#lblCheckMachine"), "text-orange text-green text-red", "text-grey");
            
            if(!$("#imgStatus").hasClass("hide"))
            {
                $("#imgStatus").addClass("hide");
            }
            $("#imgStatus").attr("src", "");

            window.external.LoadMachineHardware(true);
        } else{
            updateMachineStatus(0);
        }
    }


    function showInitializeErrorMessage(errList){
        errList = JSON.parse(errList);
        var message = "";

        $.each(errList, function(index, value){
            if(value === 1){
                message += "<br/>@Resources.PrinterError";
            }
            if(value === 2){
                message += "<br />@Resources.FaceRecognitionError";
            }
            if(value === 3){
                message += "<br />@Resources.CreditCardReaderError";
            }
            if(value === 4){
                message += "<br />@Resources.CashAcceptorError";
            }
            if(value === 5){                
                message += "<br />@Resources.DocumentReaderError";
            }
            if(value === 6){                
                message += "<br />@Resources.CardAcceptorError";
            }
            if(value === 7){                
                message += "<br />@Resources.CardReaderError";
            }
            if(value === 8){
                message += "<br />@Resources.KioskDataError";
            }
            if(value === 9){
                message += "<br />@Resources.LocalServerError";
            }
            if(value === 10){
                message += "<br />@Resources.BarcodeScannerError";
            }
            if(value === 11){
                message += "<br />@Resources.CashNoteQtyError";
            }
            if(value === 12){
                message += "<br />@Resources.CardAcceptorBoxEmpty";
            }
            if(value === 13){
                message += "<br />@Resources.CardAcceptorQtyError";
            }
            if(value === 14){
                message += "<br />@Resources.CardAcceptorBinFull";
            }
        });
        
        bootbox.dialog({
                message: "<div class='col-sm-12'>" +
                        "<div class='row'><h4>" + message + "</h4></div>" +
                        "</div>",
                title: "@Resources.ErrorMessageTitle",
                closeButton: false,
                buttons: {
                ok: {
                label: "@Resources.OK",
                className: "btn-success dialog-btn",
                callback: function () {
                @*if (typeof(window.external.ApplicationExit) !== 'undefined') {
                window.external.ApplicationExit(true);
                }*@
                }
                }
                }
                });
    }
        
    getExpireDate(false);
}
