﻿@model _5FootWay.Models.CheckOutModel

@{
    ViewBag.Title = @Resources.InsertCardTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckOutProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.InsertCardTitle</h2>
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height:510px">
        @using (Ajax.BeginForm("CheckOut", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body" style="margin-top:80px">
                <div class="col-sm-12">
                    <div id="scanCardTips" class="col-sm-offset-2 col-sm-6 text-white" style="font-size:20pt;margin-top:50px">-</div>
                    <div id="bookingDetail" class="col-sm-8 hide">
                        <div class="col-sm-6">
                            <div class="form-group left">
                                <label for="@Model.checkOut.guestName" class="text-white form-label3">@Resources.Name</label>
                                @Html.EditorFor(CM => CM.checkOut.guestName, new { htmlAttributes = new { @Class = "text-black form-control", Disabled = "", value = Model.checkOut.guestName } })
                            </div>
                            <div class="form-group left">
                                <label for="@Model.checkOut.securityDeposit" class="text-white form-label3">@Resources.SecurityDeposit</label>
                                @Html.EditorFor(CM => CM.checkOut.securityDeposit, new { htmlAttributes = new { @Class = "text-black form-control", Disabled = "", value = Model.checkOut.securityDeposit } })
                            </div><div class="form-group left">
                                      <label for="@Model.checkOut.roomBedNumber" class="text-white form-label3">@Resources.RoomBed</label>
                                @Html.EditorFor(CM => CM.checkOut.roomBedNumber, new { htmlAttributes = new { @Class = "text-black form-control", Disabled = "", value = Model.checkOut.roomBedNumber } })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group left">
                                <label for="@Model.checkOut.checkInDate" class="text-white form-label3">@Resources.CheckIn</label>
                                @Html.EditorFor(CM => CM.checkOut.checkInDate, new { htmlAttributes = new { @Class = "text-black form-control", Disabled = "", value = Model.checkOut.checkInDate } })
                            </div>
                            <div class="form-group left">
                                <label for="@Model.checkOut.checkOutDate" class="text-white form-label3">@Resources.CheckOut</label>
                                @Html.EditorFor(CM => CM.checkOut.checkOutDate, new { htmlAttributes = new { @Class = "text-black form-control", Disabled = "", value = Model.checkOut.checkOutDate } })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="margin-top:-30px;">
                        <img class="img-responsive imageBorder" src="~/images/TempImage/Scan Card.gif" style="" />
                    </div>
                </div>
            </div>

            <div class="box-footer" style="padding-bottom:20px; margin-top:80px">
                <div class="col-sm-offset-3 col-sm-3">
                    <div class="form-group">
                        <button id="btnBack" class="btn my-btn-grey large-button-style center middle text-white" name="command" value="@_5FootWay.Controllers.CheckOutController.CheckOutCommand.back">
                            <div class="border-content">@Resources.Back</div>
                        </button>
                    </div>
                </div>
                <div id="divScanCard" class="col-sm-3">
                    <div class="form-group">
                        <button type="button" class="btn my-btn-white large-button-style center middle text-black" id="btnScanCard">
                            <div class="border-content">@Resources.InsertCard</div>
                        </button>
                    </div>
                </div>
                <div id="divCheckOut" class="col-sm-3 hide">
                    <div class="form-group">
                        <button type="button" id="btnCheckOut" class="btn my-btn-white large-button-style center middle text-black">
                            <div class="border-content">@Resources.Next</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section jsScripts{
    function showBookingDetail(){
        $('#bookingDetail').removeClass('hide');

        if(!$('#scanCardTips').hasClass('hide')){
            $('#scanCardTips').addClass('hide');
        }

        SwitchClass($("#divScanCard"), '', 'hide');
        SwitchClass($("#divCheckOut"), 'hide', '');
    }

    function updateInsertCardTips(step){
        var target = $("#scanCardTips");
        if(step === 1){
        target.text('@Resources.InsertCardTip1');
        } else if(step === 2){
        target.text('@Resources.InsertCardTip2');
        } else if(step === 3){
        target.text('@Resources.InsertCardTip3');
        } else if(step === 4){
        target.text('@Resources.InsertCardTip4');
        }
    }

    function ShowCheckOutTips(){
        SwitchClass($("#divScanCard"), '', 'hide');
        SwitchClass($("#divCheckOut"), '', 'hide');

        SwitchClass($("#bookingDetail"), '', 'hide');

        $('#scanCardTips').removeClass('hide');
    }

    function ShowScanCardButton(){
        SwitchClass($("#divScanCard"), 'hide', '');
    }

    function InvalidCheckOutCard(){
    bootbox.dialog({
    message: "<div class='col-sm-12'>" +
        "<div class='row'><h4>@Resources.CardNotFound</h4></div>" +
        "</div>",
    title: '@Resources.AlertMessageTitle',
    buttons: {
    ok: {
    label: "@Resources.OK",
    className: "btn-success dialog-btn",
    callback: function () {
    }
    }
    }
    });
    }

    function setCheckInData(data)
    {
    $.ajax(
    {
    url: '@Url.Action("SetBookingDetail", "Base")',
    type: 'POST',
    dataType : "json",
    data:
    {
    checkInDataString: data
    },
    success: function (data)
    {
    if(!data)
    {
    errorMessage("", true, "");
    }
    else
    {
    if (typeof (window.external.AllowNavigation) !== 'undefined') {
    window.external.AllowNavigation(true);
    }

    $('form#form0').submit();
    }
    },
    error: function (xhr, ajaxOptions, thrownError)
    {
    if (typeof(window.external.LogException) !== 'undefined') {
    window.external.LogException(thrownError);
    }

    doneLoading();

    errorMessage("", true, "");
    }
    });
    }
}
