﻿@model _5FootWay.Models.ProgressBarModel

@{
    Layout = null;
}

<link href="~/Content/CheckInProgressBar.css" rel="stylesheet">

<div class="checkin-wrap" style="margin-left:80px">
    <ul class="checkin-bar">
        <li class="@Model.stepList[1]">@Resources.SearchBookingBar</li>
        <li class="@Model.stepList[2]">@Resources.CheckinBar</li>
        <li class="@Model.stepList[9]">@Resources.PersonalParticularBar</li>
        <li class="@Model.stepList[14]">@Resources.PaymentDepositBar</li>
        <li class="@Model.stepList[15]">@Resources.RoomCardBar</li>
        <li class="@Model.stepList[18]@(String.IsNullOrEmpty(@Model.stepList[18])?"":" ")last">@Resources.CompleteBar</li>
    </ul>
</div>

@for (int i = 0; i < Model.pointList.Count; i++)
{
    if (Model.currentStep == Model.pointList[i])
    {        
        <style type="text/css">
            ul.checkin-bar li.active:after{
                width: 0%;
            }
        </style>
    
        break;
    }
    else if (Model.currentStep < Model.pointList[i])
    {
        <style type="text/css">
            ul.checkin-bar li.active:after{
                width: @((Model.currentStep - Model.pointList[i - 1]) * 100 / (Model.pointList[i - 1] - Model.pointList[i]))%;
            }
        </style>
    
        break;
    }
}