﻿@model _5FootWay.Models.CheckOutCompleteModel

@{
    ViewBag.Title = @Resources.CheckOutCompleteTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}


@section header{
    @Html.Partial("_CheckOutProgressBar", Model.progressBar)
}

@section subHeader{
    <div class="col-sm-12">
        <div style="padding-left:20px; padding-right:20px">
            <div class="section-header-container">
                <div class="row">
                    <h2 class="section-header">@Resources.CheckOutCompleteTitle</h2>
                </div>
                <div class="row">
                    @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
                </div>
            </div>
        </div>
    </div>
}

@section content{
    <div id="formItem" class="box">
        @using (Ajax.BeginForm("checkOutComplete", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { id = "formCheckOutComplete", role = "form" }
        )
    )
        {
            <div class="box-body" style="padding-top:10%">
                <div class="col-sm-12">
                    <label class="text-white form-label">@Resources.CheckOutCompleteMessage1</label>
                </div>
                <br />
                <div class="col-sm-12">
                    <label class="text-white form-label">@Resources.CheckOutCompleteMessage2@Html.DisplayFor(CM => CM.checkInData.hotelName)</label>
                </div>
            </div>

            <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4" style="padding-top:5%">
                    <div class="form-group">
                        <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckOutController.CheckOutCommand.backToHome">
                            <div class="border-content">@Resources.BackToHome</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section jsScripts{
    function returnToHome(){
        $("#btnNext").click();
    }
}

@section jsOnLoad {
    window.setTimeout(function() {
    returnToHome();
    }, @Model.pageTimeout);
}