﻿@model _5FootWay.Models.CollectCardModel

@{
    ViewBag.Title = @Resources.CollectCardTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.CollectCardTitle</h2>
            </div>
            <div class="row">
                @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height:510px">
        @using (Ajax.BeginForm("CollectCard", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
        {
            <div class="box-body" style="padding-top:30px;padding-right:30px">
                <div class="col-sm-8 text-grey">
                    @if (Model.checkInData.roomBedList.Count > 0)
                    {
                        <table class="table my-scroll-bar" style="overflow-y:auto;overflow-x:hidden;">
                            <thead>
                                <tr class="grey-container div-header">
                                    <th style="text-align:left;background-color:black">
                                        <label class="form-label3">@Resources.GuestName</label>
                                    </th>
                                    <th style="text-align:left;background-color:black">
                                        <label class="form-label3">@Resources.RoomBedName</label>
                                    </th>
                                    <th style="text-align:left;background-color:black">
                                        <label class="form-label3">@Resources.Status</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.checkInData.roomBedList.Count; i++)
                                {
                                    if (Model.checkInData.roomBedList[i].guestNameList.Count > 0)
                                    {
                                    <tr class="grey-container">
                                        <td style="text-align:left ">
                                            <ul class="list-unstyled">
                                                @for (int j = 0; j < Model.checkInData.roomBedList[i].guestNameList.Count; j++)
                                                {
                                                    <li>
                                                        <label class="form-label3">@Html.DisplayFor(CM => CM.checkInData.roomBedList[i].guestNameList[j])</label>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                        <td style="text-align:left ">
                                            <label class="form-label3">@Html.DisplayFor(CM => CM.checkInData.roomBedList[i].roomBedName)</label>
                                        </td>
                                        <td style="text-align:left ">
                                            @if (String.IsNullOrEmpty(Model.checkInData.roomBedList[i].cardUID))
                                            {
                                                <button id="btnDispense-@i" type="button" class="btn my-btn my-btn-white center middle text-black" name="dispense" value="@i">@Resources.DispenseCard</button>
                                                <label id="lblDispense-@i" class="center middle form-label3 hide">@Resources.CollectCardTip1</label>
                                            }
                                            else
                                            {
                                                <label id="lblDispense-@i" class="center middle form-label3">@Resources.CollectCardTip6</label>
                                            }
                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>
                        </table> 
                    }
                    else
                    {
                        <div class="center middle" style="font-size: 20pt; padding-top: 150px;padding-right:30px">
                            <label class="form-label3">@Resources.NoRoomBed</label>
                        </div>
                    }
                </div>
                <div class="col-sm-4" style="margin-top:10px;">
                    <img class="img-responsive imageBorder" src="~/images/TempImage/Collect Card.gif" style="" />
                </div>
            </div>

            <div class="box-footer" style="margin-top:-10px">
                @*<div class="col-sm-offset-3 col-sm-3">
                    <div class="form-group">
                        <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" name="command" onclick="event.preventDefault(); CancelConfirmation();" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                            <div class="border-content">@Resources.Cancel</div>
                        </button>
                    </div>
                </div>*@
                <div id="divNxtButton" class="col-sm-offset-6 col-sm-3 hide-only">
                    <div class="form-group">
                        <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                            <div class="border-content">@Resources.Next</div>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section jsScripts{
    $('table').scrollTableBody({ tableHeight: 265 });

    function showCollectCard(){
        $('#btnNext').removeClass('hide-only');
        SwitchClass($("#divNxtButton"), 'hide-only', ''); 
    }

    function showButton(index){
        if($('#btnCancel').hasClass('hide-only')){
            $('#btnCancel').removeClass('hide-only');
        }
        $("#btnDispense-" + index).removeClass("hide");   
        $("#lblDispense-" + index).addClass("hide");
    }

    function showLabel(index){    
        if(!$('#btnCancel').hasClass('hide-only')){
            $('#btnCancel').addClass('hide-only');
        }

        $("#lblDispense-" + index).removeClass("hide");
        $("#btnDispense-" + index).addClass("hide");
    }

    function updateCollectCardStatus(index, step){
        var target = $("#lblDispense-" + index);
        if(step === 1){
            target.text('@Resources.CollectCardTip1');
        } else if(step === 2){
            target.text('@Resources.CollectCardTip2');
        } else if(step === 3){
            target.text('@Resources.CollectCardTip3');
        } else if(step === 4){
            target.text('@Resources.CollectCardTip4');
        } else if(step === 5){
            target.text('@Resources.CollectCardTip5');
        } else if(step === 6){
            target.text('@Resources.CollectCardTip6');
        }
    }
}