﻿@model _5FootWay.Models.RoomBedListModel

@{
    ViewBag.Title = @Resources.RoomBedListTitle;
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

@section header{
    @Html.Partial("_CheckInProgressBar", Model.progressBar)
}

@section subHeader{
<div class="col-sm-12">
    <div style="padding-left:20px; padding-right:20px">
        <div class="section-header-container">
            <div class="row">
                <h2 class="section-header">@Resources.RoomBedListTitle</h2>
            </div>
            <div class="row">
                @Html.Partial("_CheckInDetails", Model.checkInData.checkInSubHeader)
            </div>
        </div>
    </div>
</div>
}

@section content{
    <div id="formItem" class="box" style="height: 510px">
    @using (Ajax.BeginForm("RoomBedList", null, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formItem",
            OnFailure = "AjaxFailure()"
        }, new { role = "form" }
        )
    )
    {
        <div class="box-body" style="padding-top:30px;padding-right:50px;padding-left:35px ">
            <div class="row">
                <div class="col-sm-12 text-white" style="">
                    @if (Model.checkInData.roomBedList.Count > 0)
                    {
                        <table class="table my-scroll-bar" style="overflow-y: auto; overflow-x: hidden;">
                            <thead>
                                <tr class="div-header grey-container">
                                    <th style="text-align:left;background-color:black">
                                        <label class="form-label3">@Resources.GuestName</label>
                                    </th>
                                    <th style="text-align:left;background-color:black">
                                        <label class="form-label3">@Resources.RoomBedName</label>
                                    </th>
                                    <th style="text-align:left;background-color:black">
                                        <label class="form-label3">@Resources.RoomBedLimit</label>
                                    </th>
                                    <th style="text-align:left;background-color:black">
                                        <label class="form-label3">@Resources.Action</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.checkInData.roomBedList.Count; i++)
                                {
                                    <tr class="grey-container">
                                        <td style="text-align:left ">
                                            <ul class="list-unstyled">
                                                @for (int j = 0; j < Model.checkInData.roomBedList[i].guestNameList.Count; j++)
                                                {
                                                    <li>
                                                        <label class="form-label3">@Html.DisplayFor(CM => CM.checkInData.roomBedList[i].guestNameList[j])</label>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                        <td style="text-align:left ">
                                            <label class="form-label3">@Html.DisplayFor(CM => CM.checkInData.roomBedList[i].roomBedName)</label>
                                        </td>
                                        <td style="text-align:left ">
                                            <label class="form-label3">@Html.DisplayFor(CM => CM.checkInData.roomBedList[i].guestNameList.Count) / @Html.DisplayFor(CM => CM.checkInData.roomBedList[i].capability)</label>
                                        </td>
                                        <td style="text-align:left ">
                                           @if (Model.checkInData.roomBedList[i].guestNameList.Count < Model.checkInData.roomBedList[i].capability)
                                            {
                                                <button class="btn my-btn my-btn-white center middle text-black" style="width:auto;" id="btnMoreGuest-@i" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.moreGuest-@i">@Resources.MoreGuest</button>
                                            }
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>                     
                    }
                    else
                    {
                        <div class="center middle" style="font-size: 30px; padding-top: 250px; padding-bottom: 215px">
                            <label class="form-label3 text-white">@Resources.NoRoomBed</label>
                        </div>
                    }
                </div>
            </div>

            <div class="box-footer" style="margin-top:-10px">
                <div class="col-sm-offset-3 col-sm-3">
                    <div class="form-group">
                        <button id="btnCancel" class="btn my-btn-grey large-button-style center middle text-white" name="command" onclick="event.preventDefault(); CancelConfirmation();" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.back">
                            <div class="border-content">@Resources.Cancel</div>
                        </button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <button id="btnNext" class="btn my-btn-white large-button-style center middle text-black" name="command" value="@_5FootWay.Controllers.CheckInController.CheckInCommand.next">
                            <div class="border-content">@Resources.Next</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}

@section jsScripts{
    $('table').scrollTableBody({ tableHeight: 250 });
}