﻿
@font-face /* Define New Font */
{
    font-family: AvantGarde Md BT; /* Assign Font Name */
    src: local("../fonts/AvantGarde Md BT.ttf") format("truetype"); /* Font File Location */
}

.homeImgSize{
     padding-bottom:30px;
     padding-left:30px;
     padding-right:30px;
}


.title{
    font-family: AvantGarde Md BT;
    font-size:30pt;
    font-weight:100;
    position:relative;
    left:45px;
}

.logo {
  /* height:180px;*/
}



.my-btn-white
{
    font-size:20px;
    background-color:white;
}

.my-btn-grey
{
    font-size:20px;
    background-color:#464646;
}

.reloadType{
  /* padding-left:50px;*/
}


.checkinBar{
    background-color:#464646;
    width:1250px;
    position:relative;
    left:20px;
    padding-bottom:20px;
    padding-top:20px;

}


.checkinPage{
    font-size:16pt;
    position:relative;
    top:-150px;
}


.location{
    position:relative;
    top:120px;
}

.form-label1{
    font-size: 16pt;
    font-weight: bold;
    font-family: AvantGarde Md BT;
    color: white;
}

.form-label2{
    font-size: 14pt;
    font-weight: bold;
    padding-left: 10px;
    font-family: AvantGarde Md BT;
    color: white;
}

.form-label3{
    font-size: 14pt;
    font-weight: bold;
    padding-left: 10px;
    font-family: AvantGarde Md BT;
    color: white;
}
.location1{
    position:relative;
    top:-100px;
}

.text-box-color{
    background-color:white;
}

.move-up{
    margin-top:-180px;
}

.btn:hover,.btn:focus
{
    text-decoration:none;
    background-color:#acacac;
}

.btn.my-btn-grey:hover
{
    background-color: #464646;
}
.btn.text-white:hover
{
     color: white;
}

.btn.my-btn-white:hover
{
    background-color:white;
}
.btn.text-black:hover
{
    color:black;
}

.form-group1
{
    margin-bottom:0px;
}

.imageBorder{

    padding:4px;
    border:4px solid grey;
    background-color: white;
}

