﻿/* Override the default bootstrap behavior where horizontal description lists 
will truncate terms that are too long to fit in the left column 
*/

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.dl-horizontal dt {
    white-space: normal;
}


.my-body {
    /*background: black;*/ /* For browsers that do not support gradients */
    /*background: -ms-linear-gradient(top left, rgb(40,41,45), rgb(15,15,15));*/ /* IE10 Consumer Preview */
    /*background: -webkit-linear-gradient(top left, rgb(40,41,45), rgb(15,15,15));*/ /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(top left, rgb(40,41,45), rgb(15,15,15));*/ /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(top left, rgb(40,41,45), rgb(15,15,15));*/ /* For Firefox 3.6 to 15 */
    background-color: rgb(0,0,0);
    background: -ms-linear-gradient(top left, rgb(0,0,0), rgb(0,0,0)); /* IE10 Consumer Preview */
    background: -webkit-linear-gradient(top left, rgb(0,0,0), rgb(0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top left, rgb(0,0,0), rgb(0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left, rgb(0,0,0), rgb(0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top left, rgb(0,0,0), rgb(0,0,0)); /* Standard syntax */
    padding: 0.5%;
    margin: 0%;
    /*padding-bottom: 20px;*/
    -webkit-box-shadow: inset 0px 5px 15px -10px #00eaff;
    -moz-box-shadow: inset 0px 5px 15px -10px #00eaff;
    box-shadow: inset 0px 5px 15px -10px #00eaff;
    margin: 0;
    height: 100%;
    height: 100%;
    overflow: hidden;
}

.my-container {
}

.header {
    height: 10%;
    margin: 0%;
    margin-left:12px;
    padding-bottom:10px;
}

.sub-header {
    height: 15%;
    padding: 0%;
    margin: 0%;
    padding-right:12px;
}

.content {
    height: 60%;
    padding: 0%;
    margin: 0%;
}

.form-control {
    /*-webkit-box-shadow: inset 0px 0px 0px 1px #000000;
    -moz-box-shadow: inset 0px 0px 0px 1px #000000;
    box-shadow: inset 0px 0px 0px 1px #000000;
    background: #FFFFFF;*/ /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(top, #252526, #1e1e1e); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(top, #252526, #1e1e1e); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(top, #252526, #1e1e1e); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to top, #252526, #1e1e1e); /* Standard syntax */
    border-width: 1px;
    border-color: #2f2f2f;
    border-style: solid;
    font-size: 14pt;
    font-weight: bold;
}

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: #FFFFFF;
        border-width: 1px;
        border-color: #2f2f2f;
        border-style: solid;
    }

.form-label{
    font-size: 20pt;
    font-weight: bold;
    padding-left: 10px;
    font-family: AvantGarde Md BT;
    color: white;
}

.select2-container .select2-selection--single {
    height: 33px;
}

.select2-container--default .select2-selection--single {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0px;
    border-width: 1px;
    border-color: #2f2f2f;
    border-style: solid;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: inherit;
    }

.box {
    background: none;
    border-top: none;
    background-color:black;
}

.box-footer {
    background: none;
    border-top: none;
}

.btn {
    
}

.my-btn {
    width: 100%;
    max-width: 260px;
    height: 75px;
    font-size:20px;
    font-weight:bold;
}

    .my-btn:active {
        -ms-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -o-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -webkit-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        background: black; /* For browsers that do not support gradients */
        background: -ms-linear-gradient(top, #252526, #1e1e1e); /* IE10 Consumer Preview */
        background: -webkit-linear-gradient(top, #252526, #1e1e1e); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(top, #252526, #1e1e1e); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(top, #252526, #1e1e1e); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, #252526, #1e1e1e); /* Standard syntax */
    }

    .my-btn.text-cyan:hover, .my-btn.text-cyan:focus, .my-btn.text-cyan.focus {
        color: #07d3e5;
        text-shadow: 0px 0px 30px #07d3e5;
    }

    .my-btn.text-red:hover, .my-btn.text-red:focus, .my-btn.text-red.focus {
        color: #ea0808;
        text-shadow: 0px 0px 30px #ea0808;
    }

    .my-btn.text-green:hover, .my-btn.text-green:focus, .my-btn.text-green.focus {
        color: #81d981;
        text-shadow: 0px 0px 30px #81d981;
    }

    .my-btn.text-white:hover, .my-btn.text-white:focus, .my-btn.text-white.focus,
    .my-btn-green.text-white:hover, .my-btn-green.text-white:focus, .my-btn-green.text-white.focus,
    .my-btn-red.text-white:hover, .my-btn-red.text-white:focus, .my-btn-red.text-white.focus {
        color: #dbd1d1;
        text-shadow: 0px 0px 30px #dbd1d1;
    }

.my-btn-green {
    width: 100%;
    height: 75px;
    font-size:20px;
    font-weight:bold;
    -o-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    background: green; /* For browsers that do not support gradients */
    background: -ms-linear-gradient(top, #008d4c, #14d771); /* IE10 Consumer Preview */
    background: -webkit-linear-gradient(top, #008d4c, #14d771); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #008d4c, #14d771); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #008d4c, #14d771); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #008d4c, #14d771); /* Standard syntax */
    border-radius: 10px;
}

    .my-btn-green:active {
        -ms-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -o-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -webkit-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        background: green; /* For browsers that do not support gradients */
        background: -ms-linear-gradient(top, #008d4c, #14d771); /* IE10 Consumer Preview */
        background: -webkit-linear-gradient(top, #008d4c, #14d771); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(top, #008d4c, #14d771); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(top, #008d4c, #14d771); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, #008d4c, #14d771); /* Standard syntax */
    }

.my-btn-red {
    width: 100%;
    height: 75px;
    font-size:20px;
    font-weight:bold;
    -o-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.5);
    background: red; /* For browsers that do not support gradients */
    background: -ms-linear-gradient(top, #e80b0b, #FF0000); /* IE10 Consumer Preview */
    background: -webkit-linear-gradient(top, #e80b0b, #FF0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #e80b0b, #FF0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #e80b0b, #FF0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #e80b0b, #FF0000); /* Standard syntax */
    border-radius: 10px;
}

    .my-btn-red:active {
        -ms-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -o-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -webkit-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        box-shadow: inset 0px 8px 10px -1px rgba(0,0,0,0.5);
        background: red; /* For browsers that do not support gradients */
        background: -ms-linear-gradient(top, #e80b0b, #FF0000); /* IE10 Consumer Preview */
        background: -webkit-linear-gradient(top, #e80b0b, #FF0000); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(top, #e80b0b, #FF0000); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(top, #e80b0b, #FF0000); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, #e80b0b, #FF0000); /* Standard syntax */
    }
    
.div-header {
    background-color: white;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}

.div-content {
    background-color: transparent;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}

.large-button-style {    
    min-height:136px;
    min-width:100%;
    max-height:100%;
    max-width:100%;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

    .large-button-style:active {
        -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
    }

.border-red {
    border-color: red;
    -webkit-box-shadow: 0px 0px 25px -5px #f55b5b;
    -moz-box-shadow: 0px 0px 25px -5px #f55b5b;
    box-shadow: 0px 0px 25px -5px #f55b5b;
}

.border-green {
    border-color: lightgreen;
    -webkit-box-shadow: 0px 0px 25px -5px #15eb2d;
    -moz-box-shadow: 0px 0px 25px -5px #15eb2d;
    box-shadow: 0px 0px 25px -5px #15eb2d;
}

.border-cyan {
    border-color: cyan;
    -webkit-box-shadow: 0px 0px 25px -5px cyan;
    -moz-box-shadow: 0px 0px 25px -5px cyan;
    box-shadow: 0px 0px 25px -5px cyan;
}

.border {
    border-style: solid;
    border-width: 2px;
    margin: 5%;
}

.border-content {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:AvantGarde Md BT;
    font-size: 30pt;
    font-weight: bold;
    white-space: pre-wrap;
}

.hide-only {
    visibility: hidden;
}

.contain-panel {
    /*-webkit-box-shadow: inset 0px 2px 3px 0px black;
    -moz-box-shadow: inset 0px 2px 3px 0px black;
    box-shadow: inset 0px 2px 3px 0px black;*/
    /*background: rgb(26,26,26);*/ /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(bottom right, rgb(26,26,26), #484545); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, rgb(26,26,26), #484545); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, rgb(26,26,26), #484545); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, rgb(26,26,26), #484545); /* Standard syntax */
}

.text-grey {
    color: #464646;
}

.text-green {
    color: lightgreen;
}

.text-green-shadow {
    text-shadow: 0px 0px 10px lightgreen;
}

.text-red {
    color: red;
}

.text-red-shadow {
    text-shadow: 0px 0px 10px red;
}

.text-white {
    color: white;
}


.text-white-shadow {
    text-shadow: 0px 0px 10px white;
}

.text-black {
    color: black;
}

.text-black-shadow {
    text-shadow: 0px 0px 10px black;
}

.text-cyan {
    color: #00eaff;
    text-shadow: 0px 0px 10px #00eaff;
}

.text-orange{
    color:orange;
}

.no-padding {
    padding: 0px;
}

.padding-5 {
    /*padding: 5px;*/
    padding-left:30px;
     /* padding-left:910px;*/
}

.padding-20 {
    padding: 20px;
}

.no-margin {
    margin: 0px;
}

.margin-5 {
    margin: 5px;
}

.margin-50 {
    margin: 50px;
}

.no-box-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bottom {
    vertical-align: bottom;
}

.middle {
    vertical-align: middle;
}

.top {
    vertical-align: top;
}

.my-text-area {
    width: 100%;
    background-color: #464646;
    border-width: 0px;
    overflow-y: scroll;
    resize: none;
   /* padding: 5%;*/
   padding-top:2%;
   padding-left:5%;
   padding-right:5%;
   /* padding-top:120px;*/
    font-size:14pt;
    font-family:AvantGarde Md BT;
    text-align:center;
    color:white;
}

.inset-container {
    /*-webkit-box-shadow: inset 0px 2px 0px 3px black;
    -moz-box-shadow: inset 0px 2px 0px 3px black;
    box-shadow: inset 0px 2px 0px 3px black;*/
    background-color: #464646;
    border-color: black;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 3px;
    border-top-width: 3px;
    border-right-width: 2px;
    margin: 5px;
    padding: 15px;
}

.table-inset-container {
    background-color: #464646;
    border-width: 0px;
    margin: 5px;
    padding: 20px;
}

/*.my-scroll-bar::-webkit-scrollbar {
    background-color: #484545;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.my-scroll-bar::-webkit-scrollbar-button {
    background-color: white;
    color: cyan;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.my-scroll-bar::-webkit-scrollbar-track {
    background-color: #484545;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.my-scroll-bar::-webkit-scrollbar-track-piece {
    background-color: #5b5b5b;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.my-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #484545;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}*/

.cust-btn-yes,
.cust-btn-no {
    color: grey !important;
}

    .cust-btn-yes.active {
        color: lightgreen !important;
        border-style: double;
        border-color: black;
        border-width: 1px;
    }

    .cust-btn-no.active {
        color: red !important;
        border-style: double;
        border-color: black;
        border-width: 1px;
    }

.my-radio-button.active {
    background: black; /* For browsers that do not support gradients */
    background: -ms-linear-gradient(top, #1a1a1b, #141313); /* IE10 Consumer Preview */
    background: -webkit-linear-gradient(top, #1a1a1b, #141313); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #1a1a1b, #141313); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #1a1a1b, #141313); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #1a1a1b, #141313); /* Standard syntax */
}

.cust-btn-tab {
    color: #464646!important;
}

    .cust-btn-tab.active {
        color: white !important;
        background: black; /* For browsers that do not support gradients */
        background: -ms-linear-gradient(top, #464646, #141313); /* IE10 Consumer Preview */
        background: -webkit-linear-gradient(top, #464646, #141313); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(top, #464646, #141313); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(top, #464646, #141313); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top, #464646, #141313); /* Standard syntax */
    }

.image-box {
    border-width: 1px;
    border-color: #aaaaaa;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #171717;
}

.table {
    border-spacing: 0px;
}

    .table > thead > tr > td, .table > thead > tr > th {
        border: none;
        vertical-align: middle;
        text-align: center;
    }

    .table > tbody > tr > th, .table > tfoot > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td {
        border: none;
        vertical-align: top;
        padding:20px;
    }

.wrap-text {
    word-break: break-all;
    word-wrap: break-word;
}

.loading {
    position:fixed;
    top:0%;
    left:0%;
    right:0%;
    bottom:0%;

    height: 100%;
    width:100%;
    display: none;
    
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    );
    z-index: 102;
}

.loading-image{    
    position:fixed;
    top:80%;
    left:80%;

    height:20%;
    width:20%;

    padding:10px;

    background:
    /* top, transparent black, faked with gradient */ 
    /*linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),*/
    /* bottom, image */
    url(../images/PermImage/ajax-loader.gif) no-repeat center;
}

.scanPassportGif
{
      background:
  
       url(../images/PermImage/ajax-loader.gif) no-repeat center;
}

.dialog-btn {
    width: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #FFFFFF;
    cursor: not-allowed;
}

.agree-checkbox {
    height: 40px;
    width: 40px;
}

.homeImg {
    max-height:100%;
    height:590px;
}

.loadingImg {
    max-height:100%;
}

.loading-image-container{
    position:fixed;
    bottom:20%;
    left:10%;

    height:80%;
    width:80%;
    
    padding:30px;

    overflow: auto;
}

.loading-message{
    position:fixed;
    top:80%;
    left:0%;

    height:20%;
    width:80%;
    
    padding:10px;
    padding-top:40px;
    padding-left:100px;
}

.red-cross{
    background:
    url(../images/PermImage/red-cross.gif) no-repeat center;
}

.green-tick{
    background:
    /* top, transparent black, faked with gradient */ 
    /*linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),*/
    /* bottom, image */
    url(../images/PermImage/green-tick.gif) no-repeat center;
}

.section-header{ 
    font-family:AvantGarde Md BT;
    font-size:25pt;
    font-weight:100;
    color:white;
    text-align:center;
    vertical-align:middle;

}

.section-header-container{
    background-color:#464646;
    padding: 5px;
}

.grey-container{
    background-color:#464646;
}

.white-container{
    background-color:white;
}